#map {
  height: 700px;
  background: #EFF2F7;
}
  
.map-holder {
  position: relative;
  border: 3px solid #EFF2F7;
  overflow: hidden;
}

.leaflet-popup {
  width: 0 !important;
  height: 0 !important;
}

.icon-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: background 0.3s ease;

  &:after,
  &:before {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 2px;
    background: #000;
    transform: rotate(-45deg);
    margin-top: -1px;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    background: #EFF2F7;
  }
}

.map-info {
  position: absolute;
  top: 0;
  right: -400px;
  bottom: 0;
  width: 400px;
  background: #fff;
  z-index: 2000;
  cursor: text;
  padding: 40px;
  box-shadow: 0 0 9px rgba(0,0,0,0.1);
  transition: right 0.3s ease;

  &.map-info-open {
    right: 0;
  }
}

.leaflet-marker-icon {
  background: none;
  text-align: center;
  border: 0;
  overflow: hidden;
  margin: -26px 0 0 -10px !important;
  cursor: pointer !important;
  transition: all 0.3s ease;

  &:hover {
    margin: -24px 0 0 -10px !important;
  }
}

.map-icon {
  background: #02529F;
  border-radius: 50%;
  color: #fff;
  z-index:  100;
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 20px;

  &:after {
    content: '0';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 8px 0 8px;
    border-color: #02529F transparent transparent transparent;
    -webkit-transform:rotate(360deg);
    position: absolute;
    left: 50%;
    top: 12px;
    margin-left: -8px;
    z-index: -1;
  }
}

.leaflet-interactive {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}