.leaflet-marker-icon-wrapper {
  position: absolute
}

.leaflet-marker-iconlabel {
  background: #fff;
  border-radius: 7px;
  font: 11px/1 "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 3px 3px;
  user-select: none;
  white-space: nowrap;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  position: absolute;
}

.icon-number-reference.Guatemala+.leaflet-marker-iconlabel,
.icon-number-reference.Israel+.leaflet-marker-iconlabel,
.icon-number-reference.Slovenia+.leaflet-marker-iconlabel
{
  transform: translateX(-77%);
}

.icon-number-reference.Honduras+.leaflet-marker-iconlabel,
.icon-number-reference.Finland+.leaflet-marker-iconlabel,
.icon-number-reference.Slovakia+.leaflet-marker-iconlabel
{
  transform: translateX(-30%);
}

.icon-number-reference.Syria+.leaflet-marker-iconlabel,
.icon-number-reference.Georgia+.leaflet-marker-iconlabel,
.icon-number-reference.Republic-of-the-Congo+.leaflet-marker-iconlabel,
.icon-number-reference.Democratic-Republic-of-the-Congo+.leaflet-marker-iconlabel
{
  transform: translateX(0%);
}

.icon-number-reference.Finland+.leaflet-marker-iconlabel
{
  transform: translateX(20%);
}

.icon-number-reference.Jordan+.leaflet-marker-iconlabel,
.icon-number-reference.Mozambique+.leaflet-marker-iconlabel,
.icon-number-reference.Republic-of-Serbia+.leaflet-marker-iconlabel,
.icon-number-reference.Rwanda+.leaflet-marker-iconlabel,
.icon-number-reference.Macedonia+.leaflet-marker-iconlabel,
.icon-number-reference.Cameroon+.leaflet-marker-iconlabel
{
  transform: translateX(-10%);
}

.icon-number-reference.Senegal+.leaflet-marker-iconlabel,
.icon-number-reference.Haiti+.leaflet-marker-iconlabel {
  transform: translateX(-83%);
}

.icon-number-reference.Guinea+.leaflet-marker-iconlabel,
.icon-number-reference.Lebanon+.leaflet-marker-iconlabel,
.icon-number-reference.Austria+.leaflet-marker-iconlabel,
.icon-number-reference.Bosnia-and-Herzegovina+.leaflet-marker-iconlabel,
.icon-number-reference.Montenegro+.leaflet-marker-iconlabel,
.icon-number-reference.Republic-of-the-Congo+.leaflet-marker-iconlabel {
  transform: translateX(-106%);
}

.map-title,
.extra-title {
  color: #717171;
  text-transform: uppercase;
  margin: 0 0 1px;
  font-size: 13px;

  @include breakpoint('tablet') {
    font-size: 12px;
    margin: 0 0 3px;
  }
}

.article-map {

  .evidence-map-text {
    @include breakpoint_custom($breakpoint-tablet) {
      margin-bottom: 20px;
    }
  }

  .sidebar-buttons-holder {

    @include breakpoint('tablet') {
      margin: -3px 0 0 0;
    }
  }

  h1 {
    margin: 0 0 7px;

    @include breakpoint('tablet') {
      margin: 0 0 18px;
    }
  }

  p {
    font-size: 13px;
    line-height: 1.4em;

    @include breakpoint('tablet') {
      font-size: 12px;
      line-height: 1.7em;
    }
  }

  .evidence-map-list-holder {
    display: block;
    margin: 0 0 31px;

    @include breakpoint('tablet') {
      display: none;
    }
  }

  .content-inner-text {

    .evidence-map-list {
      display: none;

      @include breakpoint('tablet') {
        display: block;
      }
    }
  }
}


.more-evidence-map-text-mobile {
  display: none;
  transition: all 0.4s ease;
}

@include breakpoint_custom($breakpoint-tablet) {
  .evidence-map-text,
  .more-text-mobile {
    position: relative;
    max-height: 34px;
    overflow: hidden ;
    //margin: 0 0 16px;
    transition: all 0.3s ease;
    display: block;

    .more-evidence-map-text-mobile {
      display: block;
    }

    .less {
      display: none;
    }

    &.open-text {
      max-height: 1000px;

      &:after {
        display: none;
      }

      .more-evidence-map-text-mobile {
        left: 0;

        .more {
          display: none;
        }

        .less {
          display: block;
        }
      }
    }

    .more-evidence-map-text-mobile {
      position: absolute;
      bottom: 1px;
      left: 27%;
      z-index: 2;
      line-height: 13px;
      height: 12px;
    }

    &:after {
      position: absolute;
      bottom: 0;
      height: 14px;
      content: '';
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 100%);
      left:  19%;
      right: 0;
      z-index: 1;
    }

    p {
      &:last-child {
        margin: 0;
      }
    }
  }
}

#map {
  height: 348px;
  background: #e8f5fa;
  overflow: hidden;

  @include breakpoint('tablet') {
    height: 543px;
  }
}

.leaflet-right .leaflet-control {
  margin-right: 14px;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 14px;
}

.leaflet-bar {
  border-radius: 0;
  box-shadow: 0 0 6px rgba(0,0,0,0.5) !important;
  border: 0 !important;
  background: $white;

  &:after {
    content: '';
    position: absolute;
    top: 24px;
    height: 1px;
    background: #ebebeb;
    left: 4px;
    right: 4px;
  }

  a {
    width: 24px !important;
    height: 24px !important;
    position: relative;
    border: 0;

    &.leaflet-disabled {
      background: #fff !important;

      &:after,
      &:before {
        background: #d1d1d1 !important;
      }
    }

    @include breakpoint('tablet') {
      &:hover {
        background: $blue;

        &:first-child,
        &:last-child {
          &:before,
          &:after {
            background: $white ;
          }
        }
      }
    }

    &:first-child {
      margin-bottom: 1px;

      &:before,
      &:after {
        position: absolute;
        content: '';
        width: 9px;
        height: 3px;
        background: #000;
        top: 50%;
        left: 50%;
        margin-left: -4px;
        margin-top: -1px;
      }

      &:after {
        transform: rotate(-90deg);
        margin-top: -1px;
      }
    }

    &:last-child {
      &:after {
        position: absolute;
        content: '';
        width: 9px;
        height: 3px;
        background: #000;
        top: 11px;
        left: 8px;
      }
    }

    &:first-child,
    &:last-child {
      border-radius: 0;
      font-size: 0;
    }
  }
}

.map-holder {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  overflow: hidden;
  margin: 0 -15px 20px;

  @include breakpoint('tablet') {
    position: relative;
    margin: 0 0 24px;
    border: 1px solid #d0d0d0;
  }
}

.leaflet-popup {
  width: 0 !important;
  height: 0 !important;
}

.map-info {
  position: absolute;
  width: 100%;
  z-index: 2000;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  opacity: 0;
  top: -99999px;
  overflow: hidden;

  .ref-type-list,
  .ref-source-list {
    font-family: $lucida-sans-demi-bold;
  }

  @include breakpoint('tablet') {
    width: 355px;
    top: 4px;
    right: -400px;
    height: auto !important;
    transition: all 0.3s ease;
    max-height: 534px;
  }

  &.map-info-open {
    right: 0;
    opacity: 1;

    @include breakpoint('tablet') {
      right: 4px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      top: 0;
    }
  }
}

.map-info-inner {
  background: #fff;
  padding: 40px 19px 33px 19px;
  position: relative;

  @include breakpoint('tablet') {
    padding: 13px 43px 13px 19px;
  }
}

.map-info-content {
  @extend .scroll-vertical;
  line-height: 1.1em;
  max-height: 70vh;

  @include breakpoint('tablet') {
    padding: 0 10px 0 0;
    max-height: 508px;
  }

  h3 {
    font-size: 14px;
    line-height: 1.4em;
    margin: 0 0 10px;
  }

  .ref-item {
    margin: 0 0 18px;
    font-size: 9px;

    &:last-child {
      margin-bottom: 0;
    }

    .authors {
      margin: 0 0 4px;
    }

    .link {
      font-size: 10px;
      margin: 0 0 3px;
    }

    .dates,
    .method,
    .types,
    .text {
      margin: 0 0 3px;
    }
  }
}

.leaflet-marker-icon {
  background: none;
  text-align: center;
  border: 0;
  cursor: pointer !important;
  transition: all 0.3s ease;
  width: 47px !important;
  height: 52px !important;
  margin: -48px 0 0 -20px !important;
  z-index: 240 !important;

  &.opened-ref-tooltip .icon-number-reference {
    animation: animationFrames linear 4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 4s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 4s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 4s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
  }

  @keyframes animationFrames{
    0% {
      transform:  translate(0px,0px)  ;
    }
    10% {
      transform:  translate(0px,-10px)  ;
    }
    20% {
      transform:  translate(0px,0px)  ;
    }
    30% {
      transform:  translate(0px,-10px)  ;
    }
    40% {
      transform:  translate(0px,0px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
  }

  @-moz-keyframes animationFrames{
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    10% {
      -moz-transform:  translate(0px,-10px)  ;
    }
    20% {
      -moz-transform:  translate(0px,0px)  ;
    }
    30% {
      -moz-transform:  translate(0px,-10px)  ;
    }
    40% {
      -moz-transform:  translate(0px,0px)  ;
    }
    100% {
      -moz-transform:  translate(0px,0px)  ;
    }
  }

  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    10% {
      -webkit-transform:  translate(0px,-10px)  ;
    }
    20% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    30% {
      -webkit-transform:  translate(0px,-10px)  ;
    }
    40% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    100% {
      -webkit-transform:  translate(0px,0px)  ;
    }
  }

  @-o-keyframes animationFrames {
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    10% {
      -o-transform:  translate(0px,-10px)  ;
    }
    20% {
      -o-transform:  translate(0px,0px)  ;
    }
    30% {
      -o-transform:  translate(0px,-10px)  ;
    }
    40% {
      -o-transform:  translate(0px,0px)  ;
    }
    100% {
      -o-transform:  translate(0px,0px)  ;
    }
  }

  @-ms-keyframes animationFrames {
    0% {
      -ms-transform:  translate(0px,0px)  ;
    }
    10% {
      -ms-transform:  translate(0px,-10px)  ;
    }
    20% {
      -ms-transform:  translate(0px,0px)  ;
    }
    30% {
      -ms-transform:  translate(0px,-10px)  ;
    }
    40% {
      -ms-transform:  translate(0px,0px)  ;
    }
    100% {
      -ms-transform:  translate(0px,0px)  ;
    }
  }

  &.opened-ref-tooltip {
    z-index: 241 !important;

    .icon-number-reference {
      background: $blue;
      color: $white;
    }
  }

  @include breakpoint('tablet') {
    width: 24px !important;
    height: 35px !important;
    margin: -30px 0 0 -11px !important;
  }

  &:hover {
    z-index: 241 !important;
    @include breakpoint('tablet') {
      margin: -31px 0 0 -11px !important;
    }

    .icon-number-reference {
      background: $blue;
      color: $white;
    }
  }
}

.leaflet-marker-icon {
  .icon-number-reference {
    width: 37px;
    height: 37px;
    font-size: 18px;
    transition: all 0.3s ease;
    padding: 1px 0 0 0;

    @include breakpoint_custom($breakpoint-tablet) {
      border-width: 4px;

      &:before {
        height: 3px;
        margin-top: 11px;
        box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
      }
    }

    @include breakpoint('tablet') {
      width: 24px;
      height: 24px;
      font-size: 11px;
    }

    &:after {
      top: 30px;

      @include breakpoint_custom($breakpoint-tablet) {
        border-width: 13px 8px 0 8px;
        margin-left: -8px;
      }

      @include breakpoint('tablet') {
        top: 20px;
      }
    }
  }
}

.leaflet-interactive {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

path {
  fill: rgba(193, 210, 217, 1);
  stroke: rgba(164, 181, 189, 1);

  &.factor-efficiency {
    fill: rgba(156, 237, 16, 1) !important;
    stroke: rgba(134, 212, 0, 1) !important;
  }
  &.factor {
    fill: rgba(246, 255, 0, 1) !important;
    stroke: rgba(207, 215, 0, 1) !important;
  }
  &.efficiency-innovation {
    fill: rgba(0, 137, 84, 1) !important;
    stroke: rgba(0, 108, 66, 1) !important;
  }
  &.efficiency {
    fill: rgba(73, 218, 44, 1) !important;
    stroke: rgba(59, 200, 31, 1) !important;
  }
  &.innovation {
    fill: rgba(0, 69, 58, 1) !important;
    stroke: rgba(0, 53, 45, 1) !important;
  }
}

.map-mobile-overlay {
  position: relative;
}

.map-mobile {
  @extend .pinout;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(255,255,255,0.2);
  display: none;

  &.map-active {
    display: none;
  }
  
  span {
    background: rgba(255,255,255,0.7);
    padding: 6px 10px 4px;
    border-radius: 2px;
  }

  @include breakpoint('tablet') {
    display: none;
  }
}