.editorial-board-page {
  h2 {
    font-size: 19px;
    margin: 0 0 20px;

    @include breakpoint('desktop') {
      font-size: 29px;
      margin: 0 0 32px;
    }
  }

  .editors-list {
    margin-bottom: 15px;

    @include breakpoint('desktop') {
      margin-bottom: 33px;
    }
  }

  .content-inner-text {
    .expand-more {
      &:last-child {
        margin-bottom: -27px;
      }
    }
  }

  .btn-load-more-client-side {
    margin: -5px auto 33px !important;

    @include breakpoint('desktop') {
      margin: -33px auto 57px !important;
    }
  }

  .editorial-board-widget {
    margin: 0;
  }
}

.editorial-board-page .associate-editor-list {
  li {
    display: none ;
  }
}

.editorial-board-page .associate-editor-list {
  li {
    &:nth-child(-n+9),
    &.opened {
      display: block;
    }
  }
}

.editorial-board-page .former-editor-list {
  li {
    display: none;
  }
}

.editorial-board-page .former-editor-list {
  li {
    &:nth-child(-n+3),
    &.opened {
      display: block;
    }
  }
}

.editorial-board-widget {
  font-size: 13px;
  margin:  0 0 20px;

  p {
    margin: 0;
  }
}