.commentary-page {
  .show-more {
    margin: 16px auto 27px !important;

    @include breakpoint('tablet') {
      margin: 27px auto !important;
    }
  }

  .commentary-videos-list {
    margin: 0 0 27px;
  }
}