.event-page {
  h3 {
    font-size: 23px;
    margin: 0 0 13px;
  }

  .more-event {
    @include breakpoint('tablet') {
      display: none;
    }
  }

  .sidebar-right {
    .event-page-buttons {

      @include breakpoint_custom($breakpoint-tablet) {
        display: none;
      }
    }
  }

  .event-buttons-top {

    @include breakpoint('tablet') {
      display: none;
    }

    display: flex;
    margin: 0 -7px 20px;

    >div {
      width: 50%;
      padding: 0 7px;
    }

    a {
      height: 36px;
      line-height: 35px;
      width: 100%;
      font-size: 13px;
    }
  }
}

.event-date {
  color: #5e5e5e;
  margin: 0 0 17px;
  font-size: 11px;
  letter-spacing: 0.047em;
}

//OTHER-EVENTS-LIST 
.other-events-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  @include breakpoint('mobile-large') {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
  }

  li {
    padding: 0 0 28px;

    @include breakpoint('mobile-large') {
      width: 50%;
      padding: 0 15px 37px;
    }

    @include breakpoint('desktop') {
      width: 33.3%;
    }
  }

  h3 {
    font-size: 17px;
    margin: 0 0 10px;
    line-height: 1.4em;

    @include breakpoint('mobile-large') {
      font-size: 14px;
      margin: 0 0 6px;
      line-height: 1.4em;
    }
  }
  
  .date {
    text-transform: uppercase;
    margin: 0 0 8px;
    font-size: 12px;

    @include breakpoint('mobile-large') {
      font-size: 11px;
      margin: 0 0 2px;
    }

    a {
      color: $light-blue;
      
      &:hover {
        color: $blue;
      }
    }
  }

  .country {
    font-size: 15px;

    @include breakpoint('mobile-large') {
      font-size: 12px;
    }
  }

}

//EVENT-PAGE-BUTTONS
.event-page-buttons {
  margin: 0 0 28px;

  >div {
    margin: 0 0 16px;

    a {
      height: 32px;
      line-height: 31px;
      width: 160px;
      font-size: 11px;
      font-family: $lucida-sans-demi-bold;
    }
  }
}

.event-text-holder {
  max-height: 700px;
  overflow: hidden;
  transition: max-height 0.6s ease;
}