.event-list-page {
  .mobile-filter-holder {
    display: block !important;
    @include breakpoint_custom($breakpoint-tablet) {
      margin-bottom: -15px;
    }

    .tab-item {
      &:last-child {
        margin: 0 -15px 20px;

        @include breakpoint('tablet') {
          display: none !important;
        }
      }
    }
  }

  @include breakpoint_custom($breakpoint-tablet) {
    .sidebar-widget-articles-filter,
    .small-paragraph {
      display: none;
    }
  }
}

.events-list {
  .event-item {

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint('tablet') {
      margin: 0 0 63px;
    }
  }
}

.event-item {

  .title {
    text-transform: uppercase;
    color: #4e6071;
    font-size: 14px;
    border-bottom: 1px solid #b0b0b0;
    padding: 0 0 5px;
    font-family: $lucida-grande;
    margin: 0 0 24px;

    @include breakpoint('tablet') {
      margin: 0 0 30px;
    }
  }
}

.sub-event-item {
  margin: 0 0 20px;

  @include breakpoint('tablet') {
    margin: 0 0 42px;
  }

  .date-part {
    text-transform: uppercase;
    line-height: 1.3em;
    margin: 0 0 2px 0;
    font-size: 12px;

    @include breakpoint_custom($breakpoint-tablet) {
      .last {
        display: inline;
      }
    }

    @include breakpoint('tablet') {
      float: left;
      width: 18%;
      margin: 2px 20px 0 0;
      font-size: 12px;
      min-width: 120px;

      .year {
        display: none;
      }
    }
    
    a {
      color: $light-blue;
      
      &:hover {
        color: $blue;
      }
    }

    span.to-word {
      font-size: 8px;
      padding: 0 4px;
    }
  }

  .desc {
    overflow: hidden;
    font-size: 13px;
    line-height: 1.35em;

    p {
      margin: 0;
    }

    @include breakpoint('tablet') {
      overflow: hidden;
      font-size: 11px;
      line-height: 1.5em;
    }
  }

  h2 {
    margin: 0 0 3px;
    font-size: 17px;
    line-height: 1.3em;

    @include breakpoint('tablet') {
      margin: 0 0 8px;
      font-size: 21px;
    }
  }

  .name {
    font-size: 15px;
    margin: 0 0 8px;

    @include breakpoint('tablet') {
      font-size: 14px;
      margin: 0 0 8px;
    }
  }
}

.mobile-filter-holder {
  margin-bottom: 10px;

  .tab-item {
    padding: 13px 0;
    @extend .opacityAnimate;

    &.blue {
      background: rgb(0,115,201);
      background: -moz-linear-gradient(top,  rgba(0,115,201,1) 0%, rgba(0,82,159,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,115,201,1) 0%,rgba(0,82,159,1) 100%);
      background: linear-gradient(to bottom,  rgba(0,115,201,1) 0%,rgba(0,82,159,1) 100%);
      padding: 13px 15px;
      margin: 0 -15px;

      .more-link {
        color: #fff;
      }

      .articles-filter-list,
      .sidebar-news-list {
        li {
          margin: 0 0 13px;
          padding: 0;
          font-size: 14px;

          &:last-child {
            margin-bottom: 0 !important;
          }

          .icon-arrow {
            left: auto;
            right: 0;
            width: 30px;
            height: 30px;
            top: -6px;
            color: #58beff;
            transform: rotate(180deg);
            font-size: 8px;
          }

          &.open {
            .icon-arrow {
              color: #fff;
              transform: rotate(90deg);
            }
          }

          .submenu {
            padding-bottom: 1px;

            li {
              padding-left: 16px;
              font-size: 14px;
              margin: 14px 0 9px;
            }
          }

          * {
            color: #fff;
          }

          a {
            color: #fff;
            font-family: $lucida-sans !important;
          }
        }
      }
    }
  }

  @include breakpoint('tablet') {
    display: none !important;
  }
}

.mobile-filter-list {
  position: relative;
  z-index: 1;
  background: #fff;

  @include breakpoint('tablet') {
    display: none;
  }

  @include breakpoint_custom($breakpoint-tablet) {
    display: flex;
    justify-content: space-around;
    margin: -11px -15px 0;
    padding: 0 15px;
    border-bottom: 1px solid #b0b0b0;

    li {
      margin-bottom: -1px;

      &.active {
        a {
          border-bottom-color: $light-blue;
        }
      }
    }

    a {
      display: block;
      padding: 10px 0;
      border-bottom: 2px solid transparent;
      color: #323232;
    }
  }
}