.event-page {
  h3 {
    font-size: 18px;
    margin: 0 0 13px;

    @include breakpoint('tablet') {
      font-size: 23px;
    }
  }

  .more-event {
    margin-top: 29px;
    margin-bottom: 0;
  }

  @include breakpoint('tablet') {
    .more-event,
    .mobile-filter-holder {
      display: none !important;
    }
  }

  @include breakpoint_custom($breakpoint-tablet) {
    .sidebar-right {
      .sidebar-widget-articles-filter {
        display: none;
      }
      .event-page-buttons {
        display: none;
      }
    }

    .content-inner .content-inner-text {
      padding-bottom: 37px;
    }

    .sidebar-buttons-holder {
      margin: 0 0 41px;
    }
  }

  .mobile-filter-holder {

    .tab-item {

      &:last-child {

        @include breakpoint('tablet') {
          display: none !important;
        }
      }
    }
  }

  .event-buttons-top {

    @include breakpoint('tablet') {
      display: none;
    }

    display: flex;
    margin: 0 -5px 22px;

    >div {
      width: 50%;
      padding: 0 5px;
    }

    a {
      height: 40px;
      line-height: 38px;
      width: 100%;
      font-size: 13px;
    }
  }
}

.event-date {
  color: #5e5e5e;
  margin: 0 0 19px;
  font-size: 13px;
  letter-spacing: 0.047em;
  text-transform: uppercase;

  @include breakpoint('tablet') {
    margin: 0 0 17px;
    font-size: 11px;
  }
}

//EVENT-PAGE-BUTTONS
.event-page-buttons {
  margin: 0 0 28px;

  >div {
    margin: 0 0 16px;

    a {
      height: 32px;
      line-height: 33px;
      width: 160px;
      font-size: 11px;
      font-family: $lucida-sans-demi-bold;
    }
  }
}

.event-text-holder {
  position: relative;

  @include breakpoint('tablet') {
    max-height: none !important;
    margin-bottom: 30px;
  }

  @include breakpoint_custom($breakpoint-tablet) {
    &.opened {
      &:after {
        bottom: -30px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 30px;
      bottom: 0;
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      transition: bottom 0.3s ease 0.3s;
    }
  }

  @include breakpoint_custom($breakpoint-tablet) {
    max-height: 696px;
    overflow: hidden;
  }
}