.home-page {

  .index-head {
    margin: 0 0 31px;
    font-size: 13px;

    @include breakpoint_custom($breakpoint-tablet) {
      line-height: 1.34em;
    }

    @include breakpoint('tablet') {
      font-size: 14px;
      margin: 0 0 48px;
    }
  }

  .twitter-follow-button {
    margin-top: 10px;
  }

  .sidebar-right {

    @include breakpoint('tablet') {
      padding-top: 33px;
    }
  }

  .header-background {
    margin-bottom: 20px;

    @include breakpoint('tablet') {
      margin-bottom: 46px;
    }
  }

  h1 {
    margin-bottom: 11px;
    font-size: 22px;

    @include breakpoint_custom($breakpoint-tablet) {
      line-height: 1.2em;
    }

    @include breakpoint('tablet') {
      margin-bottom: 12px;
      font-size: 43px;
    }
  }

  .home-articles-list {
    margin-bottom: 16px;

    @include breakpoint('tablet') {
      margin-bottom: -3px;
    }

    >li {
      margin-bottom: 8px;

      @include breakpoint('tablet') {
        margin-bottom: 18px;
      }
    }
  }

  .home-articles-list+.btn-gray {
    margin-top: -10px !important;
  }

  @include breakpoint_custom($breakpoint-tablet) {
    .home-other-events-list {
      margin-bottom: -9px !important;
    }
  }

  @include breakpoint('tablet') {
    .home-other-events-list+.btn-gray {
      margin-bottom: 20px !important;
    }
  }

  .btn-gray {
    margin: 27px auto 33px !important;

    @include breakpoint('tablet') {
      margin: 27px auto 70px !important;
    }
  }

  .post-item {
    &.large {
      margin: 0 0 41px;

      .after {
        display: none;
      }

      @include breakpoint_custom($breakpoint-tablet) {
        .article-rubrics-list {
          margin: 0 0 3px 0;
        }
      }

      h2 {
        font-size: 16px;
        margin: 0 0 3px;
        max-height: 70px;

        @include breakpoint('tablet') {
          font-size: 17px;
          margin: 0 0 2px;
          max-height: 70px;
        }
      }

      h3 {
        font-size: 15px;
        margin: 0 0 8px;
        max-height: 60px;

        @include breakpoint_custom($breakpoint-tablet) {
          line-height: 1.34em;
        }

        @include breakpoint('tablet') {
          margin: 0 0 1px;
          font-size: 14px;
          max-height: 60px;
        }
      }

      .publish {
        margin: 0 0 6px;

        @include breakpoint('tablet') {
          margin: 0 0 4px;
        }
      }

      @include breakpoint('tablet') {
        .description {
          display: block !important;
        }

        .article-more {
          display: none !important;
        }

        h2 {
          font-size: 31px;
        }
      }
    }
  }

  .clone-topics {
    @include breakpoint_custom($breakpoint-tablet) {
      margin-bottom: 32px;
    }
  }

  .media-list-holder {
    .show-more {
      margin-bottom: 0 !important;
    }
  }

  .content-inner > div:first-child {
    padding-bottom: 0;

    @include breakpoint('tablet') {
      padding-bottom: 13px;
    }
  }
}

.other-events-list-holder {
  .show-more {
    margin-bottom: 10px !important;

    @include breakpoint('tablet') {
      margin-bottom: 0 !important;
    }
  }
}

.news-home-list+.show-more {
  margin-top: -3px !important;
}

//STICKY-NEWSLETTER
.sticky-newsletter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #535353;
  padding: 7px 0;
  z-index: 100;
  font-size: 12px;
  display: none;

  @include breakpoint('tablet') {
    padding: 26px 0;
  }

  h4 {
    margin-bottom: 0;
    font-size: 11px;

    @include breakpoint('tablet') {
      font-size: 17px;
      margin-bottom: 3px;
      line-height: 1em;
    }
  }

  .container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .icon-close {
    top: 50%;
    margin-top: -22px;
    z-index: 101;

    @include breakpoint_custom($breakpoint-tablet) {
      margin-top: -20px;

      &:before,
      &:after {
        width: 10px;
        left: 15px;
        right: 10px;
      }
    }
  }

  .btn-blue {
    font-size: 10px;
    padding: 0 14px;
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
    margin-right: 25px;
    margin-left: 10px;
    width: 100px;

    @include breakpoint('tablet') {
      margin: -3px 0 0 0;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      padding: 0 14px;
      letter-spacing: 0.04em;
      width: auto;
    }
  }

  .desc {
    padding-right: 3px;

    @include breakpoint('tablet') {
      padding-right: 6%;
      padding-left: 35px;
      margin: 4px 0 0 0;
    }
  }

  .link {
    color: $light-blue;

    &:hover {
      color: $blue;
    }
  }

  .icon-circle-arrow {
    display: none;

    .icon-arrow {
      width: 10px;
    }

    @include breakpoint('tablet') {
      position: absolute;
      left: 15px;
      top: 2px;
      display: block;
    }
  }
}