.home-page {

  .index-head {
    margin: 0 0 31px;
    font-size: 13px;

    @include breakpoint_custom($breakpoint-tablet) {
      line-height: 1.34em;
    }

    @include breakpoint('tablet') {
      font-size: 14px;
      margin: 0 0 48px;
    }
  }

  .twitter-follow-button {
    margin-top: 10px;
  }

  .sidebar-right {

    @include breakpoint('tablet') {
      padding-top: 33px;
    }
  }

  .header-background {
    margin-bottom: 20px;

    @include breakpoint('desktop') {
      margin-bottom: 46px;
    }
  }

  h1 {
    margin-bottom: 11px;
    font-size: 22px;

    @include breakpoint_custom($breakpoint-tablet) {
      line-height: 1.2em;
    }

    @include breakpoint('tablet') {
      margin-bottom: 12px;
      font-size: 43px;
    }
  }

  .home-articles-list {
    margin-bottom: 16px;

    @include breakpoint('tablet') {
      margin-bottom: -3px;
    }

    >li {
      margin-bottom: 8px;

      @include breakpoint('tablet') {
        margin-bottom: 18px;
      }
    }
  }

  .home-articles-list+.btn-gray {
    margin-top: -10px !important;
  }

  @include breakpoint_custom($breakpoint-tablet) {
    .home-other-events-list {
      margin-bottom: -9px !important;
    }
  }

  @include breakpoint('tablet') {
    .home-other-events-list+.btn-gray {
      margin-bottom: 20px !important;
    }
  }

  .btn-gray {
    margin: 27px auto 33px !important;

    @include breakpoint('tablet') {
      margin: 40px auto 60px !important;
    }
  }

  .post-item {
    &.large {
      margin: 0 0 41px;

      .after {
        display: none;
      }

      @include breakpoint_custom($breakpoint-tablet) {
        .article-rubrics-list {
          margin: 0 0 3px 0;
        }
      }

      h2 {
        font-size: 16px;
        margin: 0 0 3px;

        @include breakpoint('tablet') {
          font-size: 17px;
          margin: 0 0 2px;
        }
      }

      h3 {
        font-size: 15px;
        margin: 0 0 8px;
        max-height: 60px;

        @include breakpoint_custom($breakpoint-tablet) {
          line-height: 1.34em;
        }

        @include breakpoint('tablet') {
          margin: 0 0 1px;
          font-size: 14px;
          max-height: 60px;
        }
      }

      .writers {
        margin: 0 0 6px;

        @include breakpoint('tablet') {
          margin: 0 0 4px;
        }
      }

      @include breakpoint('tablet') {
        .description {
          display: block !important;
        }

        .article-more {
          display: none !important;
        }

        h2 {
          font-size: 31px;
        }
      }
    }
  }

  .clone-topics {
    @include breakpoint_custom($breakpoint-tablet) {
      margin-bottom: 32px;
    }
  }

  .media-list-holder {
    .show-more {
      margin-bottom: 0 !important;
    }
  }

  .content-inner > div:first-child {
    padding-bottom: 0;

    @include breakpoint('tablet') {
      padding-bottom: 13px;
    }
  }
}

.other-events-list-holder {
  .show-more {
    margin-bottom: 10px !important;

    @include breakpoint('tablet') {
      margin-bottom: 0 !important;
    }
  }
}

.news-home-list+.show-more {
  margin-top: -3px !important;
}