//NEWS-LIST-PAGE
.news-list-page {

  @include breakpoint_custom($breakpoint-tablet) {
    .content-inner-text {
      display: none;
    }

    .hide-desktop {
      order: 3;
    }
  }

  .news-list {
    margin: 0 0 -20px 0;

    @include breakpoint('tablet') {
      margin: 0 -38px -33px 0;
    }
  }
}

//news-list
.news-list {

  .post-item {
    margin: 0;

    @include breakpoint('tablet') {
      max-height: 408px;
    }

    h2 {
      font-size: 18px;
      margin: 0 0 12px;
      line-height: 1.3em;
    }

    p {
      font-size: 11px;
      line-height: 1.5em;
    }

    .head-news-holder  {
      margin: 0 0 9px 0;

      @include breakpoint('tablet') {
        margin: -2px 0 0 0;
      }

      .date {
        margin: 0 0 1px;
        text-transform: uppercase;
        font-size: 12px;

        @include breakpoint('tablet') {
          font-size: 10px;
        }
      }

      .publish {
        margin: 0 0 5px;
        font-size: 12px;

        @include breakpoint('tablet') {
          font-size: 10px;
        }
      }
    }

    .img {

      @include breakpoint_custom($breakpoint-tablet) {
        width: 80px;
        height: 64px;
        margin: 0 16px 0 0;
      }
    }
  }

  .publish {
    text-transform: capitalize;
  }

  li {
    @extend .two-column-first;
    padding-bottom: 34px;

    @include breakpoint('tablet') {
      padding-bottom: 60px;
    }

    .post-item {
      @include breakpoint_custom($breakpoint-tablet) {
        padding-top: 25px;
      }

      h2 {
        margin: -3px 0 0;
        font-size: 16px;

        @include breakpoint('tablet') {
          margin: 0 0 10px;
        }
      }

      .head-news-holder {

        @include breakpoint_custom($breakpoint-tablet) {
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }

    &:first-child {
      padding-bottom: 32px;

      .post-item {

        &:not(.has-image) {
          background: #dbe8f4;
        }

        h2 {
          line-height: 1.385em;
          max-height: 103px;
          margin: 0 0 17px;
          font-size: 18px;

          @include breakpoint('tablet') {
            margin: 0 0 11px;
            font-size: 27px;
            max-height: 109px;
          }
        }

        p {
          display: block;
          font-size: 15px;
          line-height: 1.35em;
          margin: 0;

          @include breakpoint('tablet') {
            font-size: 12px;
          }
        }

        .head-news-holder  {

          @include breakpoint('tablet') {
            margin: -2px 0 0 0;
          }
        }

      }

      @include breakpoint_custom($breakpoint-tablet) {

        .post-item {
          position: relative;
          display: flex;
          flex-direction: column;
          padding-top: 0;

          .head-news-holder {
            position: relative;
          }

          .img {
            width: 100%;
            float: none;
            min-height: 203px;
            order: 1;
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}