.opinions-page {

  @include breakpoint_custom($breakpoint-tablet) {
    .sidebar-widget-articles-filter {
      display: none;
    }
    .mobile-filter-holder {
      margin-bottom: 20px;
    }

    .btn-gray {
      margin: 17px auto;
    }
  }

  @include breakpoint('tablet') {
    .mobile-filter-holder {
      display: none;
    }
  }
}

.opinions-list,
.videos-list {
  overflow: hidden;
  margin: 0 0 15px;

  @include breakpoint('desktop') {
    margin: 0 -3px 10px;
  }

  li {
    padding: 0 0 20px;

    @include breakpoint('desktop') {
      width: 33.3%;
      float: left;
      padding: 5px 3px 20px;

      .opinion-item {
        height: 433px;
      }
    }

    &:first-child {

      @include breakpoint('desktop') {
        width: 100%;
        float: none;

        .opinion-item {
          height: auto;

          h2 {
            font-size: 24px;
          }

          .desc {
            padding: 20px 15px 20px;
            height: auto;

            p {
              max-height: 189px;
            }
          }

          &.has-image {
            display: flex;
            height: 292px;

            .desc {
              overflow: hidden;
              padding: 0 0 20px;
              width: 50%;
              align-items: stretch;
            }

            .img {
              width: 50%;
              float: right;
              margin: 0 0 0 10px;
              order: 2;
              height: auto ;
            }
          }
        }
      }
    }
  }
}

.commentary-opinions-list {
  overflow: hidden;
  margin: 0 -5px 20px;

  li {
    padding: 0 0 14px;

    @include breakpoint('mobile-large') {
      width: 50%;
      float: left;
      padding: 5px;
    }

    @include breakpoint('tablet') {
      width: 100%;
    }

    @include breakpoint('desktop') {
      width: 50%;
    }

    @include breakpoint('tablet') {

      .opinion-item {
        display: flex;
        align-items: stretch;
        height: 230px;

        h2 {
          max-height: 46px;
          overflow: hidden;
        }

        .inner {
          max-height: 149px;
        }

        .img,
        .desc {
          width: 50%;
          height: 100%;
          min-height: 1px;
          display: flex;
          align-items: flex-end;
        }
      }
    }

  }
}

.commentary-videos-list {
  overflow: hidden;
  margin: 0 -5px 20px;

  li {
    padding: 0 0 14px;

    @include breakpoint('mobile-large') {
      width: 50%;
      float: left;
      padding: 5px;
    }

    @include breakpoint('tablet') {
      width: 33.3%;
    }

    @include breakpoint('desktop-large') {
      width: 25%;
    }

    .opinion-item {

      @include breakpoint('tablet') {

      }

      @include breakpoint('desktop') {
        height: 400px;
      }
    }
  }
}

.opinion-item {
  font-size: 12px;
  background: #dbe8f4;
  overflow: hidden;
  line-height: 1.45em;

  *:last-child {
    margin-bottom: 0 !important;
  }

  p {
    display: none;
    overflow: hidden;

    @include breakpoint('tablet') {
      display: block;
    }
  }

  &.has-image {
    background: none;

    &:hover

    .desc {
      padding: 21px 15px 21px;
      height: 47%;
    }

    h2 {
      margin: -3px 0 0;

      @include breakpoint('tablet') {
        margin: 0 0 11px;
      }
    }

    .name {
      margin: 0 0 7px;
    }

    .img {
      overflow: hidden;
      max-height: 300px;
      display: block;
      background-size: cover;
      background-position: 50% 50%;
      position: relative;

      @include breakpoint('tablet') {
        height: 53%;
        min-height: 200px;
      }

      .icon-play {
        @extend .icon-to-center;

        @include breakpoint_custom($breakpoint-tablet) {
          display: none;
        }
      }

      img {
        min-height: 100%;
        min-width: 100%;
        display: block;
      }
    }

    @include breakpoint_custom($breakpoint-tablet) {

      .desc {
        padding: 0;
      }

      .img {
        float: left;
        width: 82px;
        margin: 0 14px 0 0;
        height: 60px;

        img {
          min-height: 60px;
        }
      }
    }
  }

  &:not(.has-image) {
    * {
      color: #262626;
    }
    
    a:hover {
      color: $light-blue;
    }
  }

  .desc {
    padding: 19px;
    overflow: hidden;
    height: 100%;

    @include breakpoint('tablet') {
      padding: 25px 25px 25px;
    }

    .inner {
      height: 100%;
      overflow: hidden;
    }
  }

  .name {
    font-size: 10px;
    display: none;
    margin: 0 0 9px;
    display: none;

    @include breakpoint('tablet') {
      display: block;
    }
  }

  .date {
    font-size: 10px;
    text-transform: uppercase;
    color: #686868;
    display: none;
    margin: 0 0 1px;

    @include breakpoint('tablet') {
      display: block;
    }
  }

  h2 {
    margin: 0;
    line-height: 1.4em;
    font-size: 14px;

    @include breakpoint('tablet') {
      font-size: 18px;
      margin: 0 0 13px;
      line-height: 1.3em;
    }
  }

  p:empty,
  h2:empty{
    display: none;
  }

}