.opinions-page {

  @include breakpoint_custom($breakpoint-tablet) {
    .sidebar-widget-articles-filter {
      display: none;
    }
    .mobile-filter-holder {
      margin-bottom: 20px;
    }
  }

  @include breakpoint('tablet') {
    .mobile-filter-holder {
      display: none;
    }
  }
}