//CONTACT-US-PAGE
.contact-us-page {
  p + br {
    @include breakpoint('tablet') {
      margin-bottom: 47px !important;
    }
  }

  h2 {
    @include breakpoint('tablet') {
      margin-bottom: 10px;
    }
  }
}

//ABOUT-PAGE
.about-page {

  p:first-child {
    font-size: 15px;
    line-height: 1.4em;

    @include breakpoint('tablet') {
      font-size: 16px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      margin: 0 0 20px;
    }
  }

  h2 {
    margin-bottom: 7px;
  }

  p + br {
    @include breakpoint('tablet') {
      margin-bottom: 53px !important;
    }
  }
}

//ARTICLE FULL
.article-full {

  .content-inner-text {

    @include breakpoint_custom($breakpoint-tablet) {
      p+br {
        margin-bottom: 36px !important;
      }
    }

    h2 {
      font-size: 18px;
      margin: 0 0 7px;

      @include breakpoint('tablet') {
        font-size: 23px;
        margin: 0 0 11px;
      }
    }

    h3 {
      font-size: 15px;
      margin: 0 0 15px;

      @include breakpoint('tablet') {
        margin: 0 0 8px;
        font-size: 18px;
      }
    }
  }

  .sidebar-right {
    margin-top: 0;
  }

  .article-top {
    h1 {
      margin: 0 0 4px;

      @include breakpoint('tablet') {
        margin: 0 0 14px;
      }
    }

    h3 {
      font-size: 15px;
      margin: 0 0 14px;

      @include breakpoint('tablet') {
        margin: 0 0 24px;
        font-size: 16px;
      }

      @include breakpoint_custom($breakpoint-tablet) {
        line-height: 1.4em;
      }
    }
  }

  figure {
    display: block;
    margin: 0 0 22px;

    @include breakpoint('tablet') {
      margin: 0 0 44px;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

//article-user
.article-user {
  overflow: hidden;
  margin: 0 0 25px;

  @include breakpoint('tablet') {
      margin: 0 0 39px;
  }

  .img {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 21px 0 0;

    @include breakpoint('tablet') {
      margin: 0 22px 0 0;
    }
  }

  .name {
    font-size: 13px;
    margin: 0 0 2px;

    @include breakpoint('tablet') {
      font-size: 14px;
      margin: 0 0 1px;
    }

    @include breakpoint($breakpoint-tablet) {
      line-height: 1.1em;
    }
  }

  .desc {
    overflow: hidden;
    padding: 2px 0px 0;
    font-size: 11px;

    @include breakpoint('tablet') {
      overflow: hidden;
      padding: 13px 0px 0;
      font-size: 12px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      line-height: 1.4em;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//article-pagers
.article-pagers-holder {
  @extend .clearfix;
  margin: 0 0 34px;

  .language-pagers {
    display: none;
  }

  @include breakpoint('tablet') {
    margin: 0 0 39px;

    .language-pagers {
      float: right;
      display: block;
    }
  }
}

.article-pagers {
  width: 240px;
  overflow: hidden;
  position: relative;

  @include breakpoint('tablet') {
    width: 223px;
  }

  &:after {
    @extend .pinout;
    border-radius: 4px;
    border: 1px solid #aaa;
    content: '';
  }

  a,
  div {
    display: block;
    height: 36px;
    float: left;
    line-height: 36px;
    padding: 0 5px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 12px;

    @include breakpoint('tablet') {
      font-size: 11px;
      line-height: 34px;
      height: 32px;
    }

    &.active {
      background: $light-blue;
      color: $white;
      cursor: default;
    }
  }
}

//article-columns
.article-columns {
  @include breakpoint_custom($breakpoint-tablet) {
    padding: 10px 0 0 0;

    .column {
      padding: 0 0 6px;
    }
  }

  @include breakpoint('tablet') {
    display: flex;
    margin: 26px 31px 59px -6%;
    flex-flow: row wrap;

    >div {
      width: 50%;
      padding: 0 6%;
    }
  }

  h3 {
    border-bottom: 1px solid #b0b0b0;
    color: #262626;
    padding: 0 0 5px;
    margin: 0 0 16px;
    font-size: 14px;
    font-family: $lucida-sans-demi-bold;
  }

  p {
    margin: 0 0 20px;
  }
}

//article-map-medium
.article-map-medium {
  display: none;

  @include breakpoint('tablet') {
    border-top: 1px solid #979797;
    padding: 20px 0 20px;
    margin: 0 0 30px;
    height: 286px;
    position: relative;
    display: block;

    .article-map-medium-text {
      position: absolute;
      top: 50%;
      left: 28px;
      transform: translateY(-50%);
      max-width: 230px;
      padding: 19px 0 0;
    }

    h4 {
      text-transform: uppercase;
      color: $light-blue;
      font-size: 11px;
      margin: 0 0 4px;
      font-family: $lucida-grande;
    }

    p {
      font-size: 19px;
      margin: 0 0 10px;
      line-height: 1.3em;
      font-family: $lucida-grande;
    }
  }
}

//article-buttons
.article-buttons {
  border-top: 1px solid #b0b0b0;
  padding: 37px 0 0;
  position: relative;

  @include breakpoint_custom($breakpoint-tablet) {
    margin: 90px -15px 29px;
    padding: 20px 15px 24px;
    border-bottom: 1px solid #b0b0b0;
  }

  .extra-buttons {
    margin-bottom: -22px;
  }

  .article-buttons-short {
    display: inline-block;
    margin-left: -1px;

    @include breakpoint_custom($breakpoint-tablet) {
      float: right;

      a {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  [class^="btn-"],
  [class*=" btn-"] {
    margin: 0 5px 22px 0;

    &.btn-cite {
      padding: 8px 25px 0 10px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      &.btn-show-one-pager {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.article-buttons-sidebar {
    display: none;

    @include breakpoint('tablet') {
      border: 0;
      padding: 0 0 20px;
      display: block;

      [class^="btn-"],
      [class*=" btn-"] {
        margin: 0 3px 22px 0;
      }
    }
  }

  &.article-buttons-mobile {
    margin: 0;
    border: 0;
    padding: 10px 0 20px;

    @include breakpoint('tablet') {
      display: none;
    }
  }
}
