//CONTACT-US-PAGE
.contact-us-page {
  p + br {
    @include breakpoint('tablet') {
      margin-bottom: 47px !important;
    }
  }

  h2 {
    @include breakpoint('tablet') {
      margin-bottom: 10px;
    }
  }
}

//ABOUT-PAGE
.about-page {

  p:first-child {
    font-size: 15px;
    line-height: 1.4em;

    @include breakpoint('tablet') {
      font-size: 16px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      margin: 0 0 20px;
    }
  }

  h2 {
    margin-bottom: 7px;
  }

  p + br {
    @include breakpoint('tablet') {
      margin-bottom: 53px !important;
    }
  }
}