.search-site {

  .select-clear-all {
    float: right;
    margin: 0 -24px 0 0;

    @include breakpoint('tablet') {
      margin: 0 -4px 0 0;
    }

    span {
      position: relative;

      @include breakpoint_custom($breakpoint-tablet) {
        text-transform: capitalize;
        margin-left: 2px;
        width: auto;
      }
    }
  }

  input[type="text"].form-control {
    @include breakpoint_custom($breakpoint-tablet) {
      height: 43px;
      font-size: 14px;
    }
  }

  .search {
    width: auto;
    margin: 0 0 27px;

    @include breakpoint('tablet') {
      margin: 0 0 42px;
    }

    .icon-search {
      font-size: 12px;
      margin: 0;
      height: 12px;

      @include breakpoint('tablet') {
        font-size: 13px;
        height: 14px;
      }
    }

    input[type="search"] {
      padding-left: 21px;
      font-size: 15px;
      border-bottom-width: 1px;
      height: 38px;
      line-height: 38px;

      @include breakpoint('tablet') {
        font-size: 25px;
        height: 50px;
        padding-left: 24px;
        line-height: 50px;
      }
    }
  }

  form {
    max-width: 491px;
    margin: 0 auto ;
    display: block;
  }
  
  h3 {
    text-align: center;
    font-size: 15px;
    margin: 0 0 7px;

    @include breakpoint('tablet') {
      font-size: 16px;
      margin: 0 0 19px;
    }
  }

  .grid {
    clear: both;
    padding: 2px 0 5px;

    @include breakpoint('tablet') {
      padding: 2px 0 17px;
    }

    .custom-checkbox {


      .label-text {
        min-height: 43px;
      }
    }

    .label-text {
      font-size: 11px;
    }
  }

  .finding-results,
  .excluding-results {
    margin: 0 0 16px;

    @include breakpoint('tablet') {
      margin: 0 0 46px;
    }

    h3 {
      margin: 0 0 20px 0;
      text-align: center;

      @include breakpoint('tablet') {
        margin: 0 -104px 40px 0;
      }
    }

    @include breakpoint('tablet') {
      margin: 0 0 46px -107px;
    }
  }

  ul.tagit {
    padding: 6px 6px 0 3px;
    overflow: hidden !important;
    margin-left: inherit;
    margin-right: inherit;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35) inset;
    border: 0;
    cursor: text;
    transition: box-shadow 0.3s ease;

    &.focus {
      box-shadow: 0 1px 5px rgba(0,83,160,0.9) inset;
    }

    li {
      padding: 0 28px 0 11px;
      margin: 0 0 6px 3px;
      height: 31px;
      font-size: 11px;
      line-height: 30px;

      @include breakpoint('tablet') {
        padding: 0 28px 0 11px;
      }

      &.tagit-choice {
        border: 1px solid #d1d1d1;
        background: #f4f4f4;
      }

      &.tagit-new {
        padding: 0 28px 0 13px;
        display: flex;
        align-items: center;
        line-height: 12px;
        width: 100%;

        @include breakpoint('tablet') {
          padding: 0 28px 0 18px;
        }

        input {
          line-height: 31px;
          height: 31px;
        }
      }

      .tagit-close {
        padding: 0 4px;
        margin-top: -8px;
      }
    }
  }

  .ui-autocomplete-input {
    font-size: 14px;
  }

  .my-tags-holder,
  .form-line {
    overflow: hidden;
    margin: 0 0 13px;

    @include breakpoint('tablet') {
      margin: 0 0 14px;
    }
  }

  .label-holder {
    text-align: center;
    padding: 0 0 7px;

    @include breakpoint('tablet') {
      float: left;
      width: 199px;
      padding: 11px 17px 0 0;
      text-align: right;
    }

    label,
    .label-text {
      color: #323232;
      font-size: 12px;
    }
  }

  .my-tags-list,
  .form-control-holder {
    overflow: hidden;
  }

  .btn-blue-large {
    display: block;
    margin: 31px auto 0;
    width: 100%;

    @include breakpoint('tablet') {
      max-width: 182px;
      margin: 54px auto 0;
    }
  }
}

.label-text-custom {
  cursor: pointer;
}