.search-results {

  .sidebar-right {
    @include breakpoint_custom($breakpoint-tablet) {
      display: none;
    }
  }
}

.search-results-top {
  margin: 0 0 27px;
  text-align: center;

  @include breakpoint('tablet') {
    margin: 0 0 57px;
  }

  @include breakpoint_custom($breakpoint-tablet) {
    .btn-border-blue-large {
      height: 33px;
      width: 33px;
    }

    .save-search-alert {
      top: auto;
      left: auto;
      right: 0;
      transform: translateX(0);
      margin: 0 0 13px !important;
      width: 160px;

      &:after {
        left: auto;
        right: 8px;
      }
    }

    .search-results-top-text {
      display: none;
    }
  }

  .search {
    width: 100%;
    max-width: 710px;
    margin: 0 auto 28px;

    .search-holder {
      display: flex;
      width: auto;

      .form-group {
        width: 100%;
      }
    }

    @include breakpoint_custom($breakpoint-tablet) {
      position: relative;
      padding-right: 49px;
    }

    @include breakpoint('tablet') {
      margin: 0 auto 48px;
    }

    .btn-blue,
    input[type="text"] {
      height: 33px;

      @include breakpoint('tablet') {
        height: 39px;
      }
    }

    .btn-blue {
      font-size: 15px;
      width: 110px;
      margin: 0 0 0 10px;

      @include breakpoint_custom($breakpoint-tablet) {
        display: none;
      }
    }

    input[type="text"] {
      font-size: 17px;
      padding: 0 0 7px 21px;

      @include breakpoint_custom($breakpoint-tablet) {
        border-bottom-width: 1px;
      }

      @include breakpoint('tablet') {
        font-size: 23px;
        padding: 0 0 7px 27px;
      }
    }

    .icon-search {
      left: 1px;
      font-size: 11px;
      margin: 0;
      height: 12px;
      top: 8px;

      @include breakpoint('tablet') {
        font-size: 13px;
        height: 14px;
        color: #989898;
        top: 10px;
      }
    }

    .search-bottom {
      float: right;
      padding: 10px 0 0 27px;
      font-size: 9px;
      position: relative;
      z-index: 10;

      @include breakpoint_custom($breakpoint-tablet) {
        display: none;
      }
      
      a {
        color: $blue;
        
        &:hover {
          color: $light-blue;
        }
      }
    }

    .search-top {
      @extend .clearfix;
    }

    .save-search-holder {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .refine-link {
    font-size: 10px;
  }

  .search-results-top-filter {
    @extend .clearfix;
    margin: 0px -15px 0;
    border-bottom: 1px solid #c0c0c0;
    font-size: 12px;
    padding: 0 16px;

    strong {
      float: left;
    }

    strong,a {
      display: inline-block;
      padding: 4px 0;
    }

    a {
      float: right;
      display: inline-block;
      color: $light-blue;
      margin-left: 12px;
      border-bottom: 2px solid transparent;
      margin-bottom: -1px;

      &.active {
        border-bottom-color: #0094f2;
      }
    }

    @include breakpoint('tablet') {
      display: none;
    }
  }
}

.search-results-table {
  margin: 0 0 41px;

  @include breakpoint('tablet') {
    margin: 0 0 92px;
  }
}

.search-results-media-item {
  text-align: center;

  .img-holder {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 13px;
    width: 116px;
    height: 116px;

    @include breakpoint('tablet') {
      @extend .material-state;
      transition: all 0.2s ease-in-out;
    }

    a,img {
      display: block;
      min-height: 100%;
    }

    @extend .no-image;
  }

  .link {
    font-size: 10px;
    margin: 0 0 -2px;
    text-transform: uppercase;
    
    @include breakpoint_custom($breakpoint-tablet) {
      a {
        color: $light-blue;
      }
    }

    @include breakpoint('tablet') {
      margin: 0 0 1px;
    }
  }

  .name {
    font-size: 15px;
    margin: 0 0 1px;
    
    a {
      color: #323232;
      
      &:hover {
        color: $blue;
      }
    }

    @include breakpoint_custom($breakpoint-tablet) {
      line-height: 1.3em;
    }

    @include breakpoint('tablet') {
      font-size: 15px;
      margin: 0 0 3px;
    }
  }

  p {
    font-size: 10px;
    line-height: 1.4em;
    margin: 0 0 3px;

    &.location {
      margin: 0 0 11px;

      @include breakpoint_custom($breakpoint-tablet) {
        display: block;
      }
    }

    @include breakpoint_custom($breakpoint-tablet) {
      display: none;
      font-size: 11px;
    }
  }
}

.search-results-table {
  .search-results-table-top {
    color: #4e6071;
    font-size: 11px;
    margin: 0 0 29px;
    text-transform: uppercase;
    border-bottom: 1px solid #c3c3c3;
    padding: 0 0 4px;

    @include breakpoint_custom($breakpoint-tablet) {
      display: none;
    }
  }
}

.search-results-item {
  overflow: hidden;

  .publication-date {
    display: none;

    @include breakpoint('tablet') {
      float: right;
      display: block;
      max-width: 153px;
      min-height: 1px;
      width: 23% ;
    }
  }

  .article-item {
    overflow: hidden;
    width: auto;
    margin: 0;

    @include breakpoint('tablet') {
      padding: 0 50px 0 10px;
      min-height: 1px;
    }
  }

  .type {

    @include breakpoint_custom($breakpoint-tablet) {
      text-transform: uppercase;
      padding: 0;
    }

    @include breakpoint('tablet') {
      float: left;
      max-width: 125px;
      min-height: 1px;
      width: 15%;
    }
  }

  h2 {
    font-size: 16px;
    margin: 0 0 1px;
    line-height: 1.27em;

    @include breakpoint('tablet') {
      font-size: 19px;
      margin: 0 0 2px;
    }
  }

  h3 {
    font-size: 13px;
    margin: 0 0 8px;
    line-height: 1.5em;

    @include breakpoint('tablet') {
      font-size: 13px;
      margin: 0 0 4px;
    }
  }

  .name {
    font-size: 15px;

    @include breakpoint('tablet') {
      font-size: 10px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      margin: 0 0 6px;
    }
  }

  .article-more {
    @include breakpoint_custom($breakpoint-tablet) {
      font-size: 12px;
    }
  }

  .description {
    display: none;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.5em;
  }

  .icon-link {
    font-size: 14px;
    margin: 2px 0 0 8px;
  }

  mark {
    background: #ffeb67;
    color: $blue;
    padding: 0 3px;
  }

  .date-in-name {
    @include breakpoint('tablet') {
      display: none;
    }
  }
}

.search-results-table-body {

  .type,
  .publication-date {
    padding-top: 2px;
    font-size: 12px;
  }

  .search-results-item {
    margin-bottom: 21px;

    @include breakpoint('tablet') {
      margin-bottom: 28px;
    }
  }
}

//MOBILE-FILTER
.search-results-top {
  position: relative;
}

.mobile-filter {
  text-align: left;
  background: #fff;
  position: relative;
  margin: 0 -15px;
  z-index: 100;
  padding: 21px 15px 30px;
  border-bottom: 1px solid #b3b3b3;
  display: none;

  .mobile-filter-bottom {
    margin: 24px 0 -5px 0;

    @include breakpoint('tablet') {
      display: none;
    }
  }

  [class^="btn-"],
  [class*=" btn-"] {
    height: 42px;
    line-height: 38px;
    padding: 2px 13px;
    font-size: 12px;

    &.btn-blue-large {
      font-size: 14px;
      padding: 0 26px;
      max-width: 130px;
    }
  }
}

.mobile-filter-container {
  .sidebar-widget-filter {
    h3 {
      display: none;
    }
  }

  .checkbox-list {
    li {
      margin: 0 0 10px;
    }
  }

  .def-checkbox {
    &.light {
      .label-text {
        font-size: 13px;

        &:before {
          top: -1px;
        }

        &:after {
          top: 3px;
        }
      }
    }
  }

  .sidebar-widget-sort-by {
    display: block;
    margin: 0 -15px 18px;
    padding: 0 15px;
    border-bottom: 1px solid #b3b3b3;

    label {
      text-transform: uppercase;
      margin: 0 0 7px;
      cursor: text;
      display: block;
      font-size: 14px;
    }

    .custom-select-title {
      height: 33px;

      &:after {
        width: 28px;
      }

      &:before {
        right: 10px;
      }
    }
  }
}