//CONTACT-US-PAGE
.contact-us-page {
  p + br {
    @include breakpoint('tablet') {
      margin-bottom: 47px !important;
    }
  }

  h2 {
    @include breakpoint('tablet') {
      margin-bottom: 10px;
    }
  }
}

//ABOUT-PAGE
.about-page {

  p:first-child {
    font-size: 15px;
    line-height: 1.4em;

    @include breakpoint('tablet') {
      font-size: 16px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      margin: 0 0 20px;
    }
  }

  h2 {
    margin-bottom: 7px;
  }

  p + br {
    @include breakpoint('tablet') {
      margin-bottom: 53px !important;
    }
  }
}

//NEWS,VIDEO,OPINION PAGES
.single-post-page {

  @include breakpoint_custom($breakpoint-tablet) {
    .sidebar-widget-articles-filter {
      display: none;
    }
  }

  .mobile-filter-holder {
    margin-bottom: 10px;
  }
}
.post-full-item {
  margin: 0 0 30px;

  @include breakpoint('tablet') {
    margin: 0 0 46px;
  }

  figure {
    margin: 0 0 17px;
  }

  @extend .img-left-in-article;

  p {
    font-size: 12px;

    @include breakpoint('tablet') {
      font-size: 13px;
    }
  }

  iframe,
  figure {
    overflow: hidden;
  }

  img{
    min-width: 100%;
    width: 100%;
    height: auto;
  }

  iframe {
    min-width: 100%;
    width: 100%;
    height: calc(100vh*0.519);
    max-height: 163px;
    display: block;

    @include breakpoint('mobile-large') {
      max-height: 263px;
    }

    @include breakpoint('tablet') {
      max-height: 490px;
    }
  }
}


//SUBSCRIBE-PAGE
.subscribe-page {
  table {
    width: 100% !important;
    padding: 5px !important;

    th,td {
      border: 0 !important;
      word-break: break-all;
    }
  }
}

//AUTHORS-PAGE

.authors-page {
  .mobile-filter-holder {
    margin-top: -20px;
  }

  .search-results-media-list {
    justify-content: center;
  }
}


//SOURCE-TABLE-HOLDER
.source-table-holder {
  margin-bottom: 20px;

  @include breakpoint('tablet') {
    margin-bottom: 20px;
  }

  .grid-view {
    overflow: hidden;
    overflow-x: auto;
  }

  .table {
    min-width: 500px;
    .filters,
    th {
      background: $blue;
      color: $white;
      border-color: $blue;
      text-align: left;

      a {
        color: inherit;
      }
    }

    .filters {
      td {
        border-color: $blue;
      }
    }

    th,td {
      width: 30%;
      padding: 13px 12px;

      &:last-child {
        width: 35%;
      }

      &:first-child {
        width: 35%;
      }

      &:nth-child(2){
        word-break: break-all;
      }
    }

    tbody {
      td {
        border: 0 !important;
        vertical-align: middle;
      }

      ul {
        padding: 0;
      }

      tr{
        &:nth-child(even) {
          td {
            background: #eee;
          }
        }
      }
    }

    select {
      &.form-control {
        border:0;
        z-index: 2;
        border-radius: 5px;
        height: 28px;
        cursor: pointer;
        padding: 0 30px 0 10px;
        background: #fff;
        overflow: hidden;
        margin: 0;
        color: #323232;
        font: normal 11px/28px $lucida-grande;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        option {
          &:first-child {
            display: none;
          }
        }
      }
    }

  }
}