//CONTACT-US-PAGE
.contact-us-page {
  p + br {
    @include breakpoint('tablet') {
      margin-bottom: 47px !important;
    }
  }

  h2 {
    @include breakpoint('tablet') {
      margin-bottom: 10px;
    }
  }
}

//ABOUT-PAGE
.about-page {

  p:first-child {
    font-size: 15px;
    line-height: 1.4em;

    @include breakpoint('tablet') {
      font-size: 16px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      margin: 0 0 20px;
    }
  }

  h2 {
    margin-bottom: 7px;
  }

  p + br {
    @include breakpoint('tablet') {
      margin-bottom: 53px !important;
    }
  }
}

//NEWS,VIDEO,OPINION PAGES
.single-post-page {

  @include breakpoint_custom($breakpoint-tablet) {
    .sidebar-widget-articles-filter {
      display: none;
    }
  }

  .mobile-filter-holder {
    margin-bottom: 10px;
  }
}
.post-full-item {
  margin: 0 0 30px;

  @include breakpoint('tablet') {
    margin: 0 0 46px;
  }

  figure {
    margin: 0 0 17px;
  }

  @extend .img-left-in-article;

  p {
    font-size: 12px;

    @include breakpoint('tablet') {
      font-size: 13px;
    }
  }

  iframe,
  figure {
    overflow: hidden;
  }

  img{
    min-width: 100%;
    width: 100%;
    height: auto;
  }

  iframe {
    min-width: 100%;
    width: 100%;
    height: calc(100vh*0.519);
    max-height: 163px;
    display: block;

    @include breakpoint('mobile-large') {
      max-height: 263px;
    }

    @include breakpoint('tablet') {
      max-height: 490px;
    }
  }
}


//NEWSLETTER-PAGE
.newsletter-page {
  line-height: normal;

  iframe {
    width: 100%;
    height: 100vh;
    display: block;
    max-width: 617px;
    margin: 0 auto;
  }

  table {
    width: 100% !important;
    padding: 0;
    margin: 0;
    border-spacing: 0 10px;
    height: auto;

    li {
      p {
        display: inline;
      }
    }
  }

  img {
    margin: 10px 0;
    height: auto;
    max-width: 100%;
  }

  th,
  td {
    padding: 0;
    vertical-align: middle;
    min-width: 100px;
    border: 0;
  }
}

//AUTHORS-PAGE

.authors-page {
  .mobile-filter-holder {
    margin-top: -20px;
  }

  .search-results-media-list {
    justify-content: center;
  }
}

//SOURCE-TABLE-HOLDER
.source-table-holder {
  position: relative;

  .grid-view {
    margin-bottom: 20px;
  }

  .pagination {
    display: none;
  }

  .loading-ball {
    top: auto;
    margin-top: 0;
    bottom: -39px;
  }

  @include breakpoint('tablet') {
    margin-bottom: 20px;
  }

  .grid-view {
    overflow: hidden;
    overflow-x: auto;
  }

  @include breakpoint_custom($breakpoint-desktop) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block !important;
      width: 100% !important;
    }

    .filters {
      td {
        &:nth-child(1),
        &:nth-child(2) {
          display: none !important;
        }
      }
    }

    tbody {
      tr {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
    }

    td {
      border: none;
      position: relative;
      padding-left: 106px !important;

      &:before {
        position: absolute;
        top: 13px;
        left: 6px;
        width: 90px;
        padding-right: 10px;
        white-space: nowrap;
      }

      &:nth-of-type(1):before { content: "Data Source"; }
      &:nth-of-type(2):before { content: "Website"; }
      &:nth-of-type(3):before { content: "Type"; }
    }
  }

  .table {
    .filters,
    th {
      background: $blue;
      color: $white;
      border-color: $blue;
      text-align: left;

      a {
        color: inherit;
      }
    }

    .filters {
      td {
        border-color: $blue;
      }
    }

    th,td {
      width: 30%;
      padding: 13px 12px;

      &:last-child {
        width: 35%;
      }

      &:first-child {
        width: 35%;
      }

      &:nth-child(2){
        word-break: break-all;
      }
    }

    thead {

      @include breakpoint_custom($breakpoint-desktop) {
        tr {
          &:first-child {
            display: none !important;
          }
        }
      }
    }

    tbody {

      tr.ias-trigger {
        td {
          border: 0 !important;
        }
      }

      td {
        border: 0;
        vertical-align: middle;
        border-bottom: 1px solid #eee;

        &.preloader-table-cell {
          @include breakpoint_custom($breakpoint-desktop) {
            padding-left: 6px !important;
            border-bottom: 0 !important;

            &:before {
              display: none;
            }
          }
        }

        &.td-letter {
          background: #ccc !important;
          padding-top: 2px;
          padding-bottom: 1px;

          a {
            font-weight: bold;
          }

          @include breakpoint_custom($breakpoint-desktop) {
            padding-left: 6px !important;
            margin: 0 0 -1px;

            &:before {
              display: none;
            }
          }
        }
      }

      ul {
        padding: 0;
      }
    }

    select {
      &.form-control {
        border:0;
        z-index: 2;
        border-radius: 5px;
        height: 28px;
        cursor: pointer;
        background: #fff;
        overflow: hidden;
        margin: 0;
        color: #323232;
        font: normal 11px/28px $lucida-grande;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        option {
          &:first-child {
            display: none;
          }
        }
      }
    }

  }
}

.stiky {
  //transition: all 0.3s ease;

  @include breakpoint_custom($breakpoint-tablet) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $white;
    margin: auto !important;
    z-index: 10;
    padding: 10px 15px;
  }
}

//error-page
.error-page {
  p {
    margin: 0 0 10px;
  }
}