//BUTTONS

[class^="btn-"],
[class*=" btn-"],
.btn {
  color: #FFFFFF;
  font: normal 10px/1.42857143 $lucida-sans;
  padding: 8px 11px 9px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.1s ease;
  text-transform: uppercase;
  background: none;
  border: 1px solid transparent;
  border-radius: 5px;
  white-space: nowrap;
  touch-action: manipulation;
  user-select: none;

  &.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.with-icon,
  &.with-icon-r {
    padding: 7px 11px;

    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    > * {
      vertical-align: middle;
      display: inline-block;
    }
  }

  &.with-icon-r {
    @include breakpoint_custom($breakpoint-tablet) {
      width: 36px;
    }

    > *,
    div > *{
      @include breakpoint_custom($breakpoint-tablet) {
        margin: 0 !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &.text {
          font-size: 0;
        }
      }
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: none;
    border: 0;
  }

  &:active {
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  }

  [class*='icon-'],
  .lang {
    line-height: 1;
    font-size: 15px;
    color: #313130;
  }
  
  .lang {
    width: 15px;
    height: 11px;
    margin: 0 5px 0 0;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.btn-border-blue,
[class^="btn-border-blue-"],
[class*=" btn-border-blue-"]{
  border-color: #0053a0;
  color: $blue;
  line-height: 12px;
  height: 30px;

  [class*='icon-'] {
    color: $blue;

    &.icon-quote {
      font-size: 13px;
      margin: 0 15px 0 5px;
    }

    &.icon-download {
      font-size: 15px;
      margin: 0 12px 0px 0;
    }

    &.icon-print {
      margin: 0 9px 0px 0;

      @include breakpoint('tablet') {
        margin: 0 15px 0px 0;
      }
    }
  }

  &:hover {
    background: #0053a0;
    color: $white;

    span {
      color: inherit;
    }
  }
}

.btn-border-gray,
[class^="btn-border-gray-"],
[class*=" btn-border-gray-"] {
  border-color: #aaa;
  color: #323232;

  &:hover {
    background: #aaa;
    color: $white;

    span {
      color: inherit;
    }
  }

  &.short {
    width: 36px;
    [class*='icon-'] {
      @extend .icon-to-center;
    }
  }

  &.btn-border-gray-small {
    height: 24px;
    padding: 1px 6px 0;
    border-radius: 2px;
    font-size: 9px;

    .icon-message {
      margin: -3px 5px -2px 0;
      font-size: 16px;

      @include breakpoint('tablet') {
        font-size: 12px;
      }
    }
  }
}

.btn-border-blue-middle,
.btn-border-gray-middle {
  height: 32px;
  line-height: 15px;
  font-size: 11px;
}

.btn-blue {
  background: #0094f2;
  
  &:hover {
    color: $light-blue;
    background: $white;
    border-color: $light-blue;
  }
}

.btn-transparent {
  color: $light-blue;

  &:hover {
    background: $white;
    border-color: $light-blue;
  }
}

.btn-light-blue {
  background: #0094f2;
}

.btn-mobile-icon {
  font-size: 18px;
  color: $black-brown;
  padding: 5px;
  width:  40px;
  height: 40px;

  >span {
    @extend .icon-to-center;
  }
}

.btn-gray {
  background: #eaeaea;
  color: #7b7b7b;
  height: 36px;
  line-height: 19px;
  font-size: 11px;
  letter-spacing: 0.05em;
  border-radius: 2px;
  
  @include breakpoint_custom($breakpoint-tablet) {
    color: #1e1e1e;
  }
  
  &:hover {
    background: #7b7b7b;
    color: #eaeaea;
  }

  &.align-center {
    display: block;
    margin: 27px auto 29px;
    max-width: 107px;

    @include breakpoint('tablet') {
      margin: 0 auto;
    }
  }
}