@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/glyphter/Glyphter.eot');
    src: url('../fonts/glyphter/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphter/Glyphter.woff') format('woff'),
         url('../fonts/glyphter/Glyphter.ttf') format('truetype'),
         url('../fonts/glyphter/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before,
.icon-styles {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-print:before{content:'\0041';}
.icon-quote:before{content:'\0042';}
.icon-search:before{content:'\0043';}
.icon-twitter:before{content:'\0044';}
.icon-user:before{content:'\0045';}
.icon-arrow:before{content:'\0046';}
.icon-heart:before{content:'\0047';}
.icon-facebook:before{content:'\0048';}
.icon-google:before{content:'\0049';}
.icon-download:before{content:'\004a';}
.icon-link:before{content:'\004b';}
.icon-linkedn:before{content:'\004c';}
.icon-message:before{content:'\004d';}

.icon-burger {
  position: relative;
  width: 20px;
  height: 15px;
  display: block;

  &:after,
  &:before,
  span {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: $black-brown;
    top: 0;
    transition: all 0.35s ease;
  }

  &:after { top: 6px; }

  &:before { top: 12px; }
}

.active {
  .icon-burger {
    z-index: 10000;

    &:after,
    &:before,
    span {
      left: 3px;
      right: 3px;
    }

    &:after { opacity: 0; }

    &:before {
      transform: rotate(45deg);
      top: 6px;
      background: $white;
    }

    span {
      transform: rotate(-45deg);
      top: 6px;
      background: $white;
    }

  }
}

.icon-cross {
  width: 14px;
  height: 14px;
  position: relative;
  display: block;

  &.dark {
    &:after,
    &:before {
      background: $dark-gray;
    }
  }

  &:after,
  &:before {
    content: '';
    height: 1px;
    background: $white;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.icon-circle-arrow {
  width: 17px;
  height: 17px;
  background: #0053a0;
  font-size: 7px;
  color: #fff;
  border-radius: 50%;
  position: relative;

  .icon-arrow {
    @extend .icon-to-center;
  }
}