[class*='icon-'] {
  line-height: 1;
}

[class*='icon-']:before,
.icon-styles {
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1px;
}

.icon-user:before{content:'\0041';}
.icon-twitter:before{content:'\0042';}
.icon-search:before{content:'\0043';}
.icon-quote:before{content:'\0044';}
.icon-print:before{content:'\0045';}
.icon-message:before{content:'\0046';}
.icon-linkedn:before{content:'\0047';}
.icon-link:before{content:'\0048';}
.icon-heart-flooded:before{content:'\0049';}
.icon-heart:before{content:'\004a';}
.icon-google:before{content:'\004b';}
.icon-facebook:before{content:'\004c';}
.icon-download:before{content:'\004d';}
.icon-arrow:before{content:'\004e';}
.icon-message:before{content:'\004f';}

.icon-burger {
  position: relative;
  width: 20px;
  height: 15px;
  display: block;

  &:after,
  &:before,
  span {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: $black-brown;
    top: 0;
    transition: all 0.35s ease;
  }

  &:after { top: 6px; }

  &:before { top: 12px; }
}

.active {
  .icon-burger {
    z-index: 10000;

    &:after,
    &:before,
    span {
      left: 3px;
      right: 3px;
    }

    &:after { opacity: 0; }

    &:before {
      transform: rotate(45deg);
      top: 6px;
      background: $white;
    }

    span {
      transform: rotate(-45deg);
      top: 6px;
      background: $white;
    }

  }
}

.icon-cross {
  width: 14px;
  height: 14px;
  position: relative;
  display: block;

  &.dark {
    &:after,
    &:before {
      background: $dark-gray;
    }
  }

  &:after,
  &:before {
    content: '';
    height: 1px;
    background: $white;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.icon-circle-arrow {
  width: 19px;
  height: 19px;
  background: #0053a0;
  font-size: 11px;
  color: #fff;
  border-radius: 50%;
  position: relative;

  .icon-arrow {
    @extend .icon-to-center;
  }
  
  &.white {
    background: $white;
    color: $blue;
  }
}

.icon-question {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid $light-blue;
  display: inline-block;
  position: relative;
  color: $light-blue;
  cursor: pointer;

  @include breakpoint('tablet') {
    width: 14px;
    height: 14px;

    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }

  &:after {
    content: '?';
    @extend .icon-to-center;
    font-family: Helvetica;
    font-weight: bold;
    line-height: 1;
    font-size: 10px;
    padding: 1px 0 0 0;
  }
}

.icon-close-popup {
  cursor: pointer;

  @include breakpoint('tablet') {
    &:hover {
      background: $blue;

      &:before,
      &:after {
        background: $white !important;
      }
    }

    &:active {
      box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    }
  }

  &:after,
  &:before {
    content: '';
    height: 1px;
    position: absolute;
    top: 7px;
    left: 14px;
    right: 14px;
    transform: rotate(45deg);
    margin: 12px 0 0 0;
    background: #262626;

    @include breakpoint('tablet') {
      left: 12px;
      right: 12px;
      height: 2px;
      background: #646464;
    }
  }

  &:after {
    transform: rotate(-45deg);
  }
}

[class*='icon-square-'] {
  width: 17px;
  height: 17px;
  display: inline-block;

  &.icon-square-dark-green {
    background: #00453a;
    border: 2px solid #00352d;
  }

  &.icon-square-green {
    background: #008954;
    border: 2px solid #006c42;
  }

  &.icon-square-lime-green {
    background: #49da2c;
    border: 2px solid #3bc81f;
  }

  &.icon-square-yellow-green {
    background: #9ced10;
    border: 2px solid #86d400;
  }

  &.icon-square-yellow {
    background: #f6ff00;
    border: 2px solid #cfd700;
  }
}

.icon-number-reference {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid #0053a0;
  border-radius: 50%;
  text-align: center;
  font: 8px/14px $lucida-sans-bold;
  margin-bottom: 10px;
  background: $white;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    height: 1px;
    margin-top: 3px;
    box-shadow: 0 5px 1px rgba(0,0,0,0.5);
    border-radius: 50%;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #02529F transparent transparent transparent;
    -webkit-transform: rotate(360deg);
    position: absolute;
    left: 50%;
    top: 12px;
    margin-left: -5px;
    z-index: -1;
  }
}