[class*='icon-'] {
  display: inline-block;
  vertical-align: middle;
}

//[class*='icon-']:before,
//.icon-styles {
//  font-family: 'Glyphter';
//  font-style: normal;
//  font-weight: normal;
//  line-height: 1;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}
//
//.icon-user:before{content:'\0041';}
//.icon-twitter:before{content:'\0042';}
//.icon-search:before{content:'\0043';}
//.icon-quote:before{content:'\0044';}
//.icon-question:before{content:'\0045';}
//.icon-print:before{content:'\0046';}
//.icon-next-circle:before{content:'\0047';}
//.icon-message:before{content:'\0048';}
//.icon-linkedn:before{content:'\0049';}
//.icon-link:before{content:'\004a';}
//.icon-heart-flooded:before{content:'\004b';}
//.icon-heart:before{content:'\004c';}
//.icon-google:before{content:'\004d';}
//.icon-facebook:before{content:'\004e';}
//.icon-download:before{content:'\004f';}
//.icon-arrow:before{content:'\0050';}
//.icon-save:before{content:'\0051';}
//.icon-exclamatory-circle:before{content:'\0052';}

[class^="icon-"],
[class*=" icon-"],
.icon-styles {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle:before {
  content: "\e913";
}
.icon-plus-circle:before {
  content: "\e914";
}
.icon-heart-flooded:before {
  content: "\e90b";
}
.icon-search-1:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-next-circle:before {
  content: "\e90e";
}
.icon-next-circle-trans:before {
  content: "\e90f";
}
.icon-exclamatory-circle:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-quote:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e909";
}
.icon-print:before {
  content: "\e90a";
}
.icon-message:before {
  content: "\e903";
}
.icon-save:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-arrow:before {
  content: "\e906";
}
.icon-google:before {
  content: "\e907";
}
.icon-linkedn:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-question:before {
  content: "\e902";
}
.icon-photo:before {
  content: "\e915";
}
.icon-trash:before {
  content: "\e916";
}

.icon-arrow-square-blue .path1:before {
  content: "\e917";
  color: $blue;
}
.icon-arrow-square-blue .path2:before {
  content: "\e918";
  margin-left: -1em;
  color:  $blue;
}
.icon-arrow-square-blue .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-burger {
  position: relative;
  width: 20px;
  height: 15px;
  display: block;

  &:after,
  &:before,
  span {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: $black-brown;
    top: 0;
    transition: all 0.35s ease;
  }

  &:after { top: 6px; }

  &:before { top: 12px; }
}

.active {
  .icon-burger {
    z-index: 10000;

    &:after,
    &:before,
    span {
      left: 3px;
      right: 3px;
    }

    &:after { opacity: 0; }

    &:before {
      transform: rotate(45deg);
      top: 6px;
      background: $white;
    }

    span {
      transform: rotate(-45deg);
      top: 6px;
      background: $white;
    }

  }
}

.icon-cross {
  width: 14px;
  height: 14px;
  position: relative;
  display: block;

  &.dark {
    &:after,
    &:before {
      background: $dark-gray;
    }
  }

  &:after,
  &:before {
    content: '';
    height: 1px;
    background: $white;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.icon-circle-arrow {
  width: 19px;
  height: 19px;
  background: $blue;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  position: relative;

  &.disabled {
    opacity: 0 !important;
    cursor: default !important;
    height: 1px !important;
  }

  .icon-arrow {
    @extend .icon-to-center;
  }
  
  &.white {
    background: $white;
    color: $blue;
  }
}

.icon-question {
  position: relative;
  color: $light-blue;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1px;
  border: 5px solid transparent;

  @include breakpoint('tablet') {
    font-size: 14px;
    border-width: 0;
  }

  @include breakpoint('tablet') {

    &:hover {
      color: $blue;
    }
  }
}

.icon-close-popup {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;

  @include breakpoint('tablet') {
    &:hover {
      background: $blue;

      &:before,
      &:after {
        background: $white !important;
      }
    }

    &:active {
      box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    }
  }

  &:after,
  &:before {
    content: '';
    height: 1px;
    position: absolute;
    top: 7px;
    left: 14px;
    right: 14px;
    transform: rotate(45deg);
    margin: 12px 0 0 0;
    background: #262626;

    @include breakpoint('tablet') {
      left: 12px;
      right: 12px;
      height: 2px;
      background: #646464;
    }
  }

  &:after {
    transform: rotate(-45deg);
  }
}

[class*='icon-square-'] {
  width: 17px;
  height: 17px;
  display: inline-block;

  &.icon-square-dark-green {
    background: #00453a;
    border: 2px solid #00352d;
  }

  &.icon-square-green {
    background: #008954;
    border: 2px solid #006c42;
  }

  &.icon-square-lime-green {
    background: #49da2c;
    border: 2px solid #3bc81f;
  }

  &.icon-square-yellow-green {
    background: #9ced10;
    border: 2px solid #86d400;
  }

  &.icon-square-yellow {
    background: #f6ff00;
    border: 2px solid #cfd700;
  }
}

.icon-number-reference {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid $blue;
  border-radius: 50%;
  text-align: center;
  font: 8px/14px $lucida-sans-bold;
  margin-bottom: 10px;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 0 0 0;

  @include breakpoint('tablet') {
    padding: 2px 0 0 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    height: 1px;
    margin-top: 3px;
    box-shadow: 0 5px 1px rgba(0,0,0,0.5);
    border-radius: 50%;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #02529F transparent transparent transparent;
    -webkit-transform: rotate(360deg);
    position: absolute;
    left: 50%;
    top: 12px;
    margin-left: -5px;
    z-index: -1;
  }
}

.icon-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 4px;

  &:active {
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  }

  @include breakpoint('tablet') {
    &:hover {
      background: $blue;

      &:after,
      &:before {
        background: $white;
      }
    }
  }

  &:after,
  &:before {
    width: 14px;
    content: '';
    position: absolute;
    top: 50%;
    left: 14px;
    right: 10px;
    height: 2px;
    background: #1d1d1b;
    transform: rotate(-45deg);
    margin-top: -1px;

    @include breakpoint_custom($breakpoint-tablet) {
      height: 1px;
    }
  }

  &:after {
    transform: rotate(45deg);
  }
}

.icon-play {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: rgba(0,0,0,0.5);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(0,0,0,1);
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11.5px 0 11.5px 17px;
    border-color: transparent transparent transparent #ffffff;
    @extend .icon-to-center;
    margin: 0 0 0 2px;
  }
}