*{
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  outline: none !important;
}

body {
  font: normal 13px/1.4em $def-font;
  color: $def-color;
  min-width: 320px;
  background: $white;

  @include breakpoint('tablet') {
    line-height:  1.65em;
  }
}

h1, h2, h3, h4, h5, h6, .clone-title {
  color: $def-color;
  font: normal 22px/1.3em $lucida-grande;
  margin: 0 0 20px;

  @include breakpoint('tablet') {
    font: normal 35px/1.2em $lucida-grande;
  }
}

h1,
.clone-title {
  margin: 0 0 15px;

  @include breakpoint('tablet') {
    margin: 0 0 30px;
    line-height: 1.25em;
  }
}

h2 {
  font-size: 18px;
  margin: 0 0 5px;

  @include breakpoint('tablet') {
    font-size: 29px;
    margin: 0 0 13px;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}


p {
  margin: 0 0 18px;

  @include breakpoint('tablet') {
    margin: 0 0 21px;
  }
}

ul,
ol {
  padding: 0 0 20px;

  ul,ol {
    padding-left: 10px;
  }

  li {
    position: relative;
    padding: 0 0 3px 17px;
    
    &:before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #262626;
      display: inline-block;
      vertical-align: middle;
      margin: -2px 10px 0 -15px;
    }
  }
}

ol {
  li {
    counter-increment: step-counter;
    margin: 0 0 4px;

    &:before {
      content: counter(step-counter)'.';
      background: none;
      vertical-align: top;
      height: auto;
      width: auto;
    }
  }
}

table {
  margin: 0 0 10px;
  width: 100%;
  border-collapse: collapse;

  th {
    font-weight: 800 ;
  }

  td,
  th {
    padding: 5px;
  }
}

td,
th {
  border: 1px solid #00A6C7;
}

.newsletter-page {
  td,th {
    border-color: transparent;
  }
}

.reset-list,
[class$="-list"],
[class*="-list "] {
  list-style: none;
  padding: 0;

  >li {
    margin: 0;
    padding: 0;

    &:before {
      display: none;
    }
  }
}

.reset-all-list,
.articles-filter-list,
.all-references-list,
.pagination,
.header-menu-top-list {
  list-style: none;
  padding: 0;

  ul {
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;

    &:before {
      display: none;
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;
  transition-property: color, border-color, background-color, opacity;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  transition-delay: 0s, 0s, 0s, 0s;
  
  &:hover {
    color: $light-blue;
  }
}

p+br {
  content: "" !important;
  display: block !important;
  margin-bottom: 28px !important;

  @include breakpoint('tablet') {
    margin-bottom: 41px !important;
  }
}

strong,b {
  font-weight: normal;
  font-family: $lucida-sans-demi-bold;
}

.reset-style-list  {
  margin: -5px 0 7px;

  @include breakpoint('tablet') {
    margin: -8px 0 24px;
  }

 li {
   margin: 0 0 6px;

   @include breakpoint('tablet') {
     margin: 0 0 8px;
   }
 }
}

.align-left {

  @include breakpoint('tablet') {
    float: left;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.data-method-item .caption {
  transition: all 0.2s ease;
}

.data-method-item {
  transition: all 0s ease;
}

.small-paragraph {

  @include breakpoint('tablet') {
    font-size: 13px;
    margin: 0 0 43px;
  }
}

.large-paragraph {
  font-size: 15px;

  @include breakpoint('tablet') {
    font-size: 16px;
  }
}

em,i {
  font-family: $lucida-sans-italic;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0 0 1.5em;
  padding: 10px;
  quotes: "“" "”" "‘" "’";
  position: relative;
}

.table-holder {
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.content-bullete {
  p {
    display: inline;
    margin: 0;
  }
}

.item-comma {
  &:last-child {
    &:before {
      display: none;
    }
  }

  &:before {
    content: ',';
  }
}