*{
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  outline: none !important;
}

body{
  font: normal 13px/1.4em $def-font;
  color: $def-color;
  min-width: 320px;

  @include breakpoint('tablet') {
    line-height:  1.65em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $def-color;
  font: normal 22px/1.3em $lucida-grande;
  margin: 0 0 20px;

  @include breakpoint('tablet') {
    font-size: 44px;
    font: normal 44px/1.1em $lucida-grande;
  }
}

h1 {
  margin: 0 0 15px;

  @include breakpoint('tablet') {
    margin: 0 0 30px;
    line-height: 1.25em;
  }
}

h2 {
  font-size: 18px;
  margin: 0 0 5px;

  @include breakpoint('tablet') {
    font-size: 29px;
    margin: 0 0 13px;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}


p {
  margin: 0 0 18px;

  @include breakpoint('tablet') {
    margin: 0 0 21px;
  }
}

ul,
ol {
  padding: 0 0 20px;

  li {
    padding: 0 0 0px 13px;
    position: relative;
    
    &:before {
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #262626;
      position: absolute;
      top: 8px;
      left: 2px;

      @include breakpoint('tablet') {
        top: 10px;
        left: 2px;
      }
    }
  }
}

ol {
  li {
    counter-increment: step-counter;
    padding-left: 15px;

    &:before {
      content: counter(step-counter)'.';
      top: 0;
      background: none;
    }
  }
}

.reset-list,
.header-menu-top-list,
.header-menu-bottom-list,
.footer-menu-list,
.socials-list,
.login-registration-list,
.breadcrumbs-list,
.faq-accordion-list,
.editors-list,
.articles-list,
.reset-style-list,
.sidebar-news-list,
.sidebar-accrodion-list {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    &:before {
      display: none;
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    color: $light-blue;
  }
}

p+br {
  content: "" !important;
  display: block !important;
  margin-bottom: 28px !important;

  @include breakpoint('tablet') {
    margin-bottom: 41px !important;
  }
}

strong {
  font-weight: normal;
  font-family: $lucida-sans-demi-bold;
}

.reset-style-list  {
  margin: -5px 0 7px;

  @include breakpoint('tablet') {
    margin: -8px 0 24px;
  }

 li {
   margin: 0 0 6px;

   @include breakpoint('tablet') {
     margin: 0 0 8px;
   }
 }
}

.align-left {

  @include breakpoint('tablet') {
    float: left;
  }
}

img {
  max-width: 100%;
}