.dropdown-login {

  label {
    font-size: 8px;

    @include breakpoint_custom($breakpoint-tablet) {
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .form-control {
    @include breakpoint_custom($breakpoint-tablet) {
      height: 47px !important;
      font-size: 16px;
    }
  }

  .form-control,
  .btn-blue {
    @include breakpoint_custom($breakpoint-tablet) {
      height: 47px !important;
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .form-line {
    margin: 0 0 17px;

    @include breakpoint('tablet') {
      margin: 0 0 10px;
    }
  }

  .label-holder {
    margin: 0px 0 6px;

    @include breakpoint('tablet') {
      margin: 0px 0 2px;
    }
  }

  .buttons {
    padding: 3px 0 0;
    text-align: center;

    @include breakpoint('tablet') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px 0 0;
    }
  }

  .btn-blue {
    width: 40%;

    @include breakpoint_custom($breakpoint-tablet) {
      display: block;
      width: 100%;
      padding: 10px 5px;
      font-size: 16px;
      margin: 0 0 14px;
    }
  }

  .forgot-link {
    color: $light-blue;
    font-size: 11px;

    @include breakpoint('tablet') {
      font-size: 8px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      text-transform: uppercase;
    }
    
    &:hover {
      color: $blue;
    }
  }
}