.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column ;
  overflow: hidden;
  position: relative;

}

.without-breadcrumbs {

  @include breakpoint('tablet') {
    padding-top: 20px !important;
  }
}

.content {
  flex: 1 0 auto;
  //overflow-y: hidden;

  @include breakpoint('tablet') {
    padding-bottom: 30px;
  }
}

.container {
  max-width: $content-area-width;
  padding: 0 15px;
  margin: 0 auto;

  &.main-container {
    padding-top: 40px;
  }
}

.content-inner {

  >div:first-child {
    padding-bottom: 27px;

    >*:last-child {
      margin-bottom: 0;
    }

    @include breakpoint('tablet') {
      padding-bottom: 0;
    }
  }

  @include breakpoint('tablet') {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;

    >div:first-child {
      width: 100000px;
    }
  }
}

//EXTRA
.no-js body {

}


iframe[name = advpp_manager] {
  display: none;
}