.header-desktop {
  display: none;

  @include breakpoint('tablet') {
    display: block;
  }
}
.header-mobile {
  display: none;

  @include breakpoint_custom($breakpoint-tablet) {
    display: block;
    margin: 0 0 20px;

    .logo-main {
      z-index: 1002 ;
    }
  }
}

//HEADER-TOP
.header-top {
  border-bottom: 1px solid #d8d8d8;
  padding: 9px 0 3px;
  min-height: 50px;

  @include breakpoint('tablet') {
    padding: 0;
    min-height: 1px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

//header-menu-top
.header-menu-top-list {
  margin: 0 0 -1px;

  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 23px 0 0;
  }

  a {
    color: $dark-blue-black;
    text-decoration: none;
    display: block;
    padding: 9px 0;
    border-bottom: 1px solid transparent;

    &.subscribe-link,
    &:hover {
      color: $blue;
    }

    &:hover,
    &.active {
      border-color: #008ef1;
    }
  }
}

//HEADER-BOTTOM
.header-bottom {
  border-bottom: 1px solid #bcbcbc;
  position: relative;

  @include breakpoint_custom($breakpoint-tablet) {
    overflow: hidden;
  }

  @include breakpoint('tablet') {
    padding: 23px 0 18px;

    .logo-main { width: 160px; }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-menu-bottom-list,
    .owl-stage-outer {
      padding: 0 10px;

      .item {
        font-size: 14px;
        margin: 0 18px;

        @include breakpoint_custom($breakpoint-desktop) {
          font-size: 13px;
          margin: 0 8px;
        }
      }

      .jspPane >.item,
      >.item {
        display: inline-block;
        position: relative;

        >.submenu {
          margin-top: 27px;
        }

        >a {
          display: block;
          padding: 5px 0;
          border-bottom: 1px solid transparent;

          &:hover,
          &.active { border-color: #008ef1; }
        }
      }

      a {
        color: $black-brown;
        text-decoration: none;

        &.active,
        &:hover { color: $blue; }
      }

      .submenu {

        .item {
          font-size: 11px;
          margin: 0 0 -2px 0;
          line-height: 20px;

          &:last-child { margin-bottom: 0; }
        }

        a {
          &.view-all { color: $light-blue; }
        }
      }

    }

  }

  @include breakpoint_custom($breakpoint-tablet) {
    .header-menu-bottom-list {
      padding: 0;
      white-space: nowrap;

      .item {
        display: inline-block;

        a {
          display: block;
          padding: 10px 10px !important;
          color: #262626;
        }
      }

      .submenu {
        display: none;
      }
    }
  }
}

//SEARCH

.header {
  .search {
    @include breakpoint_custom($breakpoint-tablet) {
      position: absolute;
      top: calc(49vh*.75);
      left: 40px;
      right: 40px;
      background: white;
      max-width: none;
      width: auto;

      .btn-border-blue,
      .search-bottom {
        display: none;
      }
    }
  }
}

.search {
  color: $black-brown;
  width: 285px;
  margin: 20px 0 -9px;
  position: relative;

  form {
    @include breakpoint('tablet') {
      display: flex;

      button {
        order: 1;
      }
    }
  }


  .search-top {
    @extend .clearfix;
    margin: 0 0 9px;
    position: relative;
  }

  .icon-search {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 10px;
    margin: 0;
    height: 10px;
    z-index: 10;

    @include breakpoint_custom($breakpoint-tablet) {
      font-size: 11px;
    }
  }

  .search-bottom {
    text-align: right;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 0.05em;

    a {
      color: #303030;

      &:hover {
        color: $blue;
      }
    }
  }

  input[type="text"],
  .btn-border-blue,
  .btn-blue {
    height: 31px;
    line-height: 20px;
    padding: 0 13px 0;
  }

  input[type="text"] {
    padding-left: 16px;
    padding-right: 0;

    @include breakpoint_custom($breakpoint-tablet) {
      padding-left: 21px;
      height: 35px;
      font-size: 13px;

      &.form-control-decor {
        border-bottom: 2px solid #9c9c9c;
      }
    }
  }

  .search-holder {
    width: 100%;
  }

  .btn-border-blue,
  .btn-blue {
    margin-left: 8px;
    float: right;
  }
}

//LOGIN-REGISTRATION
.login-registration {
  @include breakpoint_custom($breakpoint-tablet) {
    padding: 29px 0 20px;

    .login-registration-list {
      text-align: center;
      font-size: 16px;
      text-transform: none;
      border-bottom: 1px solid  #a8a8a8;

      >li {
        margin: 0 10px;
        text-transform: capitalize;
        position: static;

        >a {
          display: block;
          padding: 17px 10px 17px;
        }
      }
    }

    .dropdown-widget {
      position: absolute;
      top: 110px;
      left: 25px;
      right: 25px;
      text-align: left;

      form {
        padding-bottom: 20px;
      }
    }
  }
}

//login-registration-list
.login-registration-list {
  font-size: 10px;
  margin: 0 0 -1px;

  @include breakpoint_custom($breakpoint-tablet) {
    .dropdown-widget {
      transform: translateX(-50%);
      transition: transform .3s ease, opacity .3s ease;
      overflow: hidden;
      opacity: 0;

      &.active {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  li {
    display: inline-block;
    position: relative;
    margin: 0 0 0 27px;

    &.hide-desktop {
      @include breakpoint('tablet') {
        display: none;
      }
    }

    &.hide-mobile {
      @include breakpoint_custom($breakpoint-tablet) {
        display: none;
      }
    }
  }

  >li {
    >a,
    .logout-link{
      display: block;
      padding: 9px 0;
      text-transform: uppercase;

      @include breakpoint('tablet') {
        border: 0;
        border-bottom: 1px solid transparent;
      }
    }
  }

  a,
  .logout-link {
    text-decoration: none;
    background: none;

    @include breakpoint('tablet') {

      &:hover,
      &.active {
        border-bottom-color: #008ef1;
      }
    }

    &.dropdown-link {
      color: $dark-blue-black;
      position: relative;

      &.active {
        @include breakpoint_custom($breakpoint-tablet) {
          &:after {
            display: block;
          }
        }
      }

      @include breakpoint_custom($breakpoint-tablet) {
        &:after {
          content: '';
          width: 6px;
          height: 6px;
          border-left: 1px solid #a8a8a8;
          border-bottom: 1px solid #a8a8a8;
          position: absolute;
          bottom: -2px;
          transform: rotate(-45deg) translateX(-50%);
          background: $white;
          left: 50%;
          display: none;
        }
      }
    }

    &.active,
    &:hover {
      color: $blue;
    }
  }

  //my-account
  .logout-link {
    color: $light-blue;
  }

  &.logout {
    li {
      margin: 0 0 0 17px;
    }
  }

  .welcome-link {
    color: #323232;
    background: #fff;
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 0 0px #fff;
  }
}

//ONLY MOBILE
@include breakpoint_custom($breakpoint-tablet) {

  .mobile-search,
  .mobile-login {
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 1001;
    background: #fff;
    left: -100%;
    transition: all 0.3s ease;
    height: 100vh;
    opacity: 0;

    &.mobile-login {
      z-index: 1003;
    }

    .btn-mobile-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 1005;
    }

    &.open {
      left: 0;
      opacity: 1;
    }
  }

  .header-mobile-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    >.dropdown {

      >.btn-mobile-icon {
        position: absolute;
        top: 0;
        right: 6px;
        height: 49px;
        width: 45px;
      }

      &:nth-child(2) {
        >.btn-mobile-icon {right: 48px;}
      }

      &:nth-child(1) {
        >.btn-mobile-icon {right: 91px;}
      }
    }
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background: #005aa9;
    padding: 45px 35px 57px;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1003;

    .btn-mobile-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 1005;
    }

    &.open {
      left: 0;
      opacity: 1;
    }

    .header-menu-bottom-list {
      >.item {
        >a {
          font-size: 18px;
          padding: 8px 0 9px;
        }
      }

      .item {
        a {
          text-transform: none;
        }
      }

      .submenu {
        display: none;

        .submenu {
          padding-left: 10px;
        }
      }
    }

    .item,
    .btn-light-blue,
    a {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      position: static;
      text-decoration: none;
    }

    a {
      color: $white !important;
      padding: 7px 32px 7px 0;
    }

    .subscribe-link {
      position: absolute;
      bottom: 29px;
      left: 35px;
      right: 35px;
      padding: 13px 0 10px;
      background: #0094f2;
      font-size: 14px;
      font-family: $lucida-sans-demi-bold;
      border-radius: 3px;
    }
  }

  .mobile-menu-section {
    border-bottom: 1px solid #0094f2;
    margin: 0 0 16px;
    padding: 0 0 12px;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.mobile-menu {

  .subscribe-link {
    @extend .btn;
  }

  .header-menu-top-list {
    li {
      display: block;
    }
  }

  .header-menu-bottom-list {

    .item {

      &.has-drop {
        >a {
          position: relative;

          &:after {
            position: absolute;
            top: 13px;
            right: -2px;
            content: '\e906';
            @extend .icon-styles;
            font-size: 10px;
            transform: rotate(180deg);
            color: $light-blue;
            transition: all 0.3s ease;

            @include breakpoint('tablet') {
              display: none;
            }

          }
        }
      }

      &.open {
        >a{
          &:after {
            transform: rotate(90deg);
            color: $white;
            font-size: 9px;
            top: 11px;
            right: -1px;
          }
        }
      }
    }
  }
}

//HEADER-SEARCH-DROPDOWN
.header-search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
}

.auto-search-list {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 5px;

  li {
    margin: 5px 5px 5px;
    line-height: 13px;
    font-size: 12px;
  }

  span {
    color: $blue;
    cursor: pointer;
    
    &:hover {
      color: $light-blue;
    }
  }
}