.sidebar-right {
  margin: 0 0 27px;
  @extend .clearfix;

  @include breakpoint('tablet') {
    order: 1;
    margin: 0 0 0 30px;
    width: 247px;
    flex: 0 0 247px;
  }

  @include breakpoint('desktop') {
    margin: 0 0 0 60px;
  }

  iframe {
    width: 100% !important;
  }

  .btn,
  .twitter-follow-button {
    width: 247px !important;
  }
}