label {
  cursor: pointer;
  color: #6e6e6e;
}

textarea,
input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url]{
  background: $white;
  border: 0;
  color: $dark-brown;
  padding: 0 10px 0;
  height: 17px;
  font: 12px/32px $lucida-sans;
  border-radius: 3px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  width: 100%;
  -webkit-appearance: none;

  &.erorr {
    border-color: red !important;
  }

  &.form-control-decor {
    font: normal 14px/1.1 $lucida-sans;
    border: 1px solid transparent;
    border-bottom: 1px solid #9c9c9c;
    border-radius: 0;

    &:focus {
      border-bottom-color: $blue !important;
    }

    @include placeholder {
      color: #9c9c9c;
    }
  }

  &.form-control {
    height: 32px;
    box-shadow: 0 1px 7px rgba(0,0,0,0.35) inset;

    &:focus {
      box-shadow: 0 1px 7px rgba(0,83,160,0.9) inset;
    }

  }
}

.form-line {
  margin: 0 0 8px;
}

.label-holder {
  margin: 0 0 2px;
}

.custom-select {
  position: relative;
  display: block;
  margin: 0 0 20px;

  .sort-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #b5b5b5;
    border-radius: 0 0 5px 5px;
    margin: -13px 0 0 0;
    padding: 7px 0 5px 0;
    z-index: 1;
    background: $white;
    opacity: 0;
    transition: all 0.2s ease;
    max-height: 0;
    overflow: hidden;

    &.open {
      opacity: 1;
      margin: -3px 0 0 0;
      display: block;
      max-height: 180px;
    }

    a {
      padding: 7px 10px 5px 10px;
      display: block;
    }
  }

  .custom-select-title {
    border: 1px solid #b5b5b5;
    z-index: 2;
    border-radius: 5px;
    height: 29px;
    cursor: pointer;
    padding: 5px 50px 7px 10px;
    background: #fff;
    overflow: hidden;
    margin: 0;
    color: #323232;
    font: normal 11px/1em $lucida-grande;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    &.active {
      border-radius: 5px 5px 0 0 ;
    }

    &:after {
      content: '';
      background-color: #efefef;
      border-left: 1px solid #999;
      right: 0;
      pointer-events: none;
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 23px;
      border-radius: 0 5px 5px 0;
    }

    &:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      content: '';
      right: 8px;
      width: 6px;
      height: 6px;
      border-bottom: 1px solid #323232;
      border-left: 1px solid #323232;
      pointer-events: none;
      z-index: 2;
      margin: -2px 0 0 0;
    }
  }
}