//LABELS
label {
  cursor: pointer;
}

.label-text,
label {
  color: #6e6e6e;
}

.label-holder {
  margin: 0 0 2px;
}

//FORM-ITEM
.form-item {
  position: relative;
  height: 100%;

  .info {
    position: absolute;
    color: #3d3d3d;
    top: 1px;
    right: 19px;
    font-size: 10px;

    @include breakpoint('tablet') {
      top: 3px;
      right: 0;
      font-size: 9px;
    }
  }

  label,
  .label-text {
    text-transform: uppercase;
    font-size: 13px;

    @include breakpoint('tablet') {
      font-size: 12px;
    }
  }

  .label-holder {
    margin: 0 0 5px;
  }
}

.form-line {
  margin: 0 0 8px;
}


.header-bottom {
  .search {
    .form-group {
      .help-block {
        padding: 5px;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 10px 0 0;
      }
    }
  }
}

.form-group {
  position: relative;
  overflow: hidden;

  &.has-error {
    overflow: visible;

    textarea,
    input[type=text],
    input[type=password],
    input[type=date],
    input[type=datetime],
    input[type=email],
    input[type=number],
    input[type=search],
    input[type=tel],
    input[type=time],
    input[type=url] {
      border-bottom: 1px solid red !important;
    }

    .help-block {
      opacity: 1;
      z-index: 100;
      position: relative;
    }
  }

  .help-block {
    padding: 15px;
    text-transform: uppercase;
    font-size: 10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    line-height: 13px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    opacity: 0;
    transition: all 0.3s ease;
    position: fixed;
    z-index: -1;
    width: 100%;
    text-align: left;

    &:after {
      content: '';
      position: absolute;
      left: 10px;
      transform: translateX(-50%) rotate(-137deg);
      top: -3px;
      width: 7px;
      height: 7px;
      background-color: #f2dede;
    }
  }
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 20px 0 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  
  .close {
    background: none;
    border: 0;
    font-size: 20px;
    width: 25px;
    height: 25px;
  }
}

.alert-danger {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}