
//LOGO
.logo-main {
  display: inline-block;
  width: 85px;
  position: relative;
  z-index: 1002;

  @include breakpoint('tablet') {
    width: 149px;
  }
}

//SOCIALS
.socials-list {
  margin: 0 0 39px;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
    font-size: 11px;
  }

  [class*='icon-'] {
    font-size: 34px;

    @include breakpoint('tablet') {
      font-size: 30px;
    }
  }

  a {
    color: $light-blue;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover {
      color: $blue;
    }
  }

  &.socials-vertical-list {
    margin: 0 0 0 4px;

    li {

      margin: 0 0 15px -4px;
      width: 50%;

      @include breakpoint('tablet') {
        display: block;
        width: 100%;
        margin: 0 0 13px;
      }
    }

    [class*='icon-'] {
      margin-right: 13px;
      color: $blue;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.header-background {
  height: calc(50vw*.6);
  max-height: 445px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 112px;
}

//BREADCRUMBS
.breadcrumbs-list {
  margin: 30px 0 32px;
  display: none;

  @include breakpoint('tablet') {
    display:  block;
  }

  li {
    display: inline-block;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 1em;
    padding: 0 13px 0 0;
    margin: 0 4px 0 0;

    &:after {
      content: '>';
      position: absolute;
      right: 0;
      top: 0px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  a {

  }
}

//WIDGET-TITLE
.widget-title {
  border-bottom: 1px solid #b0b0b0;
  text-transform: uppercase;
  padding: 0 0 8px;
  margin: 0 0 21px;
  font-size: 13px;
  font-family: $lucida-grande;

  @include breakpoint('tablet') {
    padding: 0 0 5px;
    margin: 0 0 17px;
    font-size: 12px;
  }

  @include breakpoint_custom($breakpoint-tablet) {
    letter-spacing: 0.06em;
  }
}

//EDITORS-LIST
.editors-list {
  display: flex;
  flex-flow: row wrap;

  li {
    width: 50%;
    padding: 0 10px 35px;

    @include breakpoint('desktop') {
      width: 33.3%;
      padding: 0 20px 31px;
    }
  }
}

//editor-item
.editor-item {
  text-align: center;
  font-size: 10px;

  .img {
    width: 117px;
    height: 117px;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 7px;
    overflow: hidden;

    @include breakpoint('mobile') {
      margin: 0 0 10px;
    }

    img {
      max-width: 100%;
    }
  }

  .name {
    font-size: 15px;
    margin: 0 0 7px;
    line-height: 1.1em;

    @include breakpoint('mobile') {
      margin: 0 0 6px;
    }
  }

  .vacancy {
    font-family: $lucida-sans-demi-bold;
    margin: 0 0 7px;
    line-height: 1.2em;

    @include breakpoint_custom($breakpoint-tablet) {
      font-size: 12px;
      margin: 0 0 9px;
    }
  }

  p {
    margin: 0;
    line-height: 1.5em;

    @include breakpoint('mobile') {
      line-height: 1.6em;
    }
  }
}

//ARTICLES
.articles {

}

//CONTRIBUTOR-PROFILE
.contributor-profile {
  margin: 0 0 30px;
}


//ARTICLES-LIST
.articles-list {
  >li {
    margin: 0 0 35px;
  }
}

//article-item
.article-item {
  margin: 0 0 20px;
  overflow: hidden;

  &:first-child {
    h2 {
      font-size: 28px;
      margin: 0 0 5px;
    }

    h3 {
      font-size: 14px;
      margin: 0 0 5px;
      line-height: 1.5em;
    }

    .publish {
      margin: 0 0 4px;
    }
  }

  h2 {
    font-size: 20px;
    margin: 0 0 9px;
  }

  h3 {
    font-size: 12px;
    margin: 0 0 6px;
  }

  .publish {
    margin: 0 0 1px;
    font-size: 10px;
  }

  .description {
    font-size: 11px;
    line-height: 1.6em;
    display: none;
  }

  .article-more {
    font-size: 10px;
    color: $light-blue;

    .less {
      display: none;
    }

    &.opened {
      span {
        display: none;

        &.less {
          display: block;
        }
      }
    }
  }
}

//articles-title
.articles-title {
  text-transform: uppercase;
  margin: 0 0 31px;
  font-size: 13px;
  border-bottom: 1px solid #4d5f71;
  padding: 0 0 10px;

  a {
    color: #4e6071;
  }

  h3 {
    font-size: 14px;
  }
}

//article-rubrics-list
.article-rubrics-list {
  margin: 0 0 6px -8px;
  padding: 0;

  li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    line-height: 1.1;
    padding: 0 0 0 6px;
    margin: 0 0 0 2px;
    font-size: 10px;

    &:first-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      top: 1px;
      border-right: 1px solid #676767;
      display: block;
    }
  }
  
  a {
    color: $light-blue;
    
    &:hover {
      color: $blue;
    }
  }
}

//full-article
.full-article {

  .head {
    >div {
      @include breakpoint_custom($breakpoint-tablet) {
        display: inline-block;
        font-size: 12px;

        &.date {
          &:after {
            content: '/';
            padding: 0 0 0 4px;
          }
        }
      }
    }
  }

  .date {
    margin: 0 0 -1px;
    text-transform: uppercase;
    font-size: 12px;
  }

  .category {
    margin: 0px 0 10px;
    font-size: 11px;
  }

  figure {
    margin: 0 0 16px 0;
    overflow: hidden;

    @include breakpoint('tablet') {
      width: 47.3%;
      margin: 6px 37px 20px 0;
    }
  }

  img {
    display: block;
  }

  h1 {
    margin: 0 0 13px;

    @include breakpoint('tablet') {
      margin: 0 0 22px;
    }
  }
}

//sidebar-accrodion-list

.sidebar-accrodion-list {
  margin: 0 0 20px;

  .sidebar-accrodion-item {
    margin: 0 0 22px;
  }
}

//sidebar-news-list
.sidebar-news-list {
  padding: 13px 0 6px;

  .bg-info {
    display: none;
  }

  li {
    margin: -2px 0 17px;
    display: none;
    position: relative;

    @include breakpoint('tablet') {
      margin: 0 0 17px;
    }

    @include breakpoint_custom($breakpoint-tablet) {
      .writer {
        font-size: 10px;
        padding: 0;
      }
    }

    &:nth-child(-n+5) {
      display: block;
    }

    &:last-child {
      margin: 0;
    }
  }

  h3 {
    font-size: 12px;
    line-height: 1.45em;
    text-transform: none;
    margin: 0 20px 0 0;
    display: inline-block;

    a {
      display: inline-block;
    }
  }

  .icon-question {
    position: absolute;
    top: 1px;
    right: 0px;

    @include breakpoint('tablet') {
      top: -2px;
    }
  }
}

.sidebar-accrodion-item {
  text-transform: uppercase;

  .title {
    display: block;
    border-bottom: 1px solid #b0b0b0;
    position: relative;
    padding: 5px 0 5px;
    font-size: 14px;
    color: #323232;
    
    &:hover {
      color: $light-blue;
    }

    @include breakpoint('tbalet') {
      font-size: 12px;
      padding: 5px 0 0px;
    }

    &:before {
      content: '\004e';
      @extend .icon-styles;
      position: absolute;
      color: #1d1d1b;
      right: 4px;
      font-size: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.is-open {
    .title {
      &:before {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }

  .more-link {
    font-size: 10px;
    text-transform: none;
    display: inline-block;
    line-height: 1em;
    color: $light-blue;
    font-family: $lucida-grande;
    display: inline-block;
    margin: 9px 0;
    
    &:hover {
      color: $blue;
    }
  }

  .writer {
    text-transform: none;
    font-size: 10px;
    padding: 3px 0 0 0;
  }

  .text {
    display: none;
  }
}

.submenu {
  display: none;
}

//DROP
.dropdown-widget,
.header-desktop .header-menu-bottom-list >.has-drop >.submenu,
.owl-item >.has-drop >.submenu {
  max-height: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
  display: block;

  &.open {
    max-height: 800px;
    z-index: 100;
    opacity: 1;
  }

  @include breakpoint('tablet') {
    position: absolute;
    background: #f5f5f5;
    padding: 13px 20px 20px;
    border-radius: 2px;
    width: 265px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #d8d8d8;
    box-shadow: 0 6px  18px rgba(0,0,0,0.16);

    &:after {
      content: '';
      width: 6px;
      height: 6px;
      border-left: 1px solid #d8d8d8;
      border-top: 1px solid #d8d8d8;
      background: #f5f5f5;
      top: -4px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      position: absolute;
      z-index: -1;
    }
  }
}

//btn-like
.btn-like {
  overflow: hidden;

  &.added {
    background: $light-blue;
    border-color: $light-blue;
    overflow: visible;

    .icon-heart {
      color: $white;

      &:before {
        content:'\0049';
      }
    }

    .btn-like-inner {
      display: block;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  .btn-like-inner {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 10px);
    background: #f5f5f5;
    width: 208px;
    padding: 15px 10px 13px;
    margin: 0 0 16px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    color: #262626 !important;
    font-size: 11px;
    z-index: 10;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;

    &:after {
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(-45deg);
      content: '';
      width: 10px;
      height: 10px;
      box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
      background: #f5f5f5;
      z-index: -1;
    }
  }
}

//reference-popup
.reference-popup {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1003;
  font-size: 12px;
  line-height: 1.4em;
  position: absolute;
  display: none;
  overflow: hidden;

  @include breakpoint('tablet') {
    height: auto !important;
    bottom: 0;
    top: auto;
    position: fixed;
  }

  .reference-popup-inner {
    background: #fff;
    padding: 45px 0 22px;
    position: relative;
    min-height: 200px;

    &:after {
      background: rgba(0,0,0,0.5);
      @extend .pinout;
      top: 100%;
      bottom: -99999999px;

      @include breakpoint('tablet') {
        display: none;
      }
    }
  }

  @include breakpoint_custom($breakpoint-tablet) {
    top: 0 !important;
  }

  .container {
    overflow: hidden;
  }

  @include breakpoint('tablet') {
    font-size: 11px;
    line-height: 1.2em;
  }

  @include breakpoint('tablet') {
    border-top: 1px solid #535353;
  }

  .arrows {
    text-align: center;

    @include breakpoint_custom($breakpoint-desktop-large) {
      padding: 27px 0 5px;
    }
  }

  .icon-close-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;

    @include breakpoint('desktop-large') {
      top: 15px;
      right: 15px;
    }
  }

  h3 {
    font-size: 15px;
    margin: 0 0 3px;
    font-family: $lucida-grande;

    @include breakpoint('tablet') {
      font-size: 13px;
      margin: 0 0 8px;
    }
  }

  .caption {
    margin: 0 0 20px;
  }

  .column-caption,
  .column,
  .column-types,
  .column-methods,
  .column-countries,
  .column-furniture-reading {
    display: none;

    &.visible {
      display: block;
    }
  }

  .columns {
    margin: 0 -24px 0px;

    @include breakpoint('tablet') {
      margin: 0 -24px 26px;
    }

    .column {
      padding: 0 24px 23px;

      @include breakpoint('tablet') {

        &.visible {
          display: inline-block;
        }
        padding: 0 24px;
        vertical-align: top;
      }
    }
  }

  .icon-circle-arrow {
    border: 1px solid $blue;
    background: $white;
    color: $blue;
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin: 0 8px;

    &.disabled {
      display: none;
    }

    @include breakpoint('desktop-large') {
      position: absolute;
      width: 22px;
      height: 22px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;

      &:hover {
        background: $blue;
        color: $white;
      }

      &:active {
        box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
      }

      &.left {
        left: 34px;

        .icon-arrow {
          &:before {
            transform: rotate(180deg);
            margin: -3px 0 0 0px;
          }
        }
      }

      &.right {
        right: 34px;
      }
    }

    @include breakpoint_custom($breakpoint-desktop-large) {
      display: inline-block;
    }

    &.left {

      .icon-arrow {
        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.tooltip-content {
  position: absolute;
  display: block;
  background: #f5f5f5;
  border: 1px solid #d8d8d8;
  padding: 5px 10px;
  border-radius: 5px;
  right: 0;
  bottom: 100%;
  width: 400px;

  &:after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    content: '';
    width: 10px;
    height: 10px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
    background: #f5f5f5;
    z-index: -1;
  }
}