//FUTURE CLASS
.hidden-area {
  display: none;
}

.hide-mobile {
  @include breakpoint_custom($breakpoint-tablet) {
    display: none !important;
  }
}

.hide-desktop {
  @include breakpoint('tablet') {
    display: none !important;
  }
}

.js-tab-hidden {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
  height: 0 !important;
  bottom: auto !important;
}

.no-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.img-holder-bg {
    .img {
      z-index: 2;
    }

    &:after {
      background: #F5F5F5 url(../images/avatars/default_user.png);
      background-size: cover;
      @extend .pinout;
      z-index: 1;
      border-radius: 50%;
    }
  }

  .img {
    @extend .pinout;
    background-size: cover;
    background-position: 50% 50%;
    font-size: 0;
    z-index: 2;
    border-radius: 50%;
  }
}

.two-column-first {
  &:first-child {
    width: 100%;

    @include breakpoint('desktop') {
      float: none;

      .opinion-item,
      .news-item,
      .post-item {
        height: auto;

        &:after {
          display: none;
        }

        h2 {
          font-size: 24px;
          //max-height: 81px;
          padding-bottom: 1px;
          overflow: hidden;
        }

        .desc {
          padding: 20px 15px 20px ;
          height: auto;
        }

        &.has-image {
          display: flex;
          height: 292px;

          .desc {
            overflow: hidden;
            padding: 0 0 20px;
            width: 50%;
            align-items: stretch;
          }

          .img {
            width: 50%;
            float: right;
            margin: 0 0 0 30px;
            order: 2;
            height: auto;
            min-height: 230px;
          }
        }
      }
    }
  }

}

.material-state {

  @include breakpoint('tablet') {
    &:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    &:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
  }
}


.img-left-in-article {
  .align-left {
    margin: 0 0 16px 0;
    overflow: hidden;

    @include breakpoint('tablet') {
      width: 47.3%;
      margin: 6px 37px 20px 0;
    }

    img {
      display: block;
      min-width: 100%;
    }
  }
}

//NORMALIZE
.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

//ALIGN
.icon-to-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center {
  display: flex;
  align-items: center;
}

.max-wrap,
.max-wrap-medium {
  margin: 0 auto;
  padding: 0 10px;
  max-width: $content-area-width;
}

//POSITION
.pinout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

//SCROLL
.scroll-vertical,
.reference-popup-list-inner,
.mobile-menu,
.mobile-login,
.mobile-search,
.auto-search-list {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.1s ease;
}

//TEXTS
.clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//ANIMATE
.slideAnimate {
  transform: translateX(-150%) ;
  transition: transform .5s ease;
  overflow: hidden;

  &.active {
    transform: translateY(0);
  }
}

.opacityAnimate {
  transform: translateY(-10px);
  transition: transform .5s ease, opacity .5s ease;
  overflow: hidden;
  opacity: 0;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.holder {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  position: relative;

  @media print {
    min-height: 1px;
    display: block;
    overflow: visible;
    position: static;
  }

  .wrapper {
    width: 100%;
  }
}

//loading
@-moz-keyframes spin{
  0%{
    -moz-transform:rotate(0deg)
  }
  100%{
    -moz-transform:rotate(360deg)
  }
}

@-webkit-keyframes spin{
  0%{
    -webkit-transform:rotate(0deg)
  }
  100%{
    -webkit-transform:rotate(360deg)
  }
}

@keyframes spin{
  0%{
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100%{
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@-moz-keyframes spinoff{
  0%{
    -moz-transform:rotate(0deg)
  }
  100%{
    -moz-transform:rotate(-360deg)
  }
}

@-webkit-keyframes spinoff{
  0%{
    -webkit-transform:rotate(0deg)
  }
  100%{
    -webkit-transform:rotate(-360deg)
  }
}

@keyframes spinoff{
  0%{
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100%{
    -ms-transform:rotate(-360deg);
    transform:rotate(-360deg);
  }
}
