.max-wrap,
.max-wrap-medium {
  margin: 0 auto;
  padding: 0 10px;
  max-width: $content-area-width;
}

.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

.flex-center {
  display: flex;
  align-items: center;
}

.hidden-area {
  display: none;
}

.icon-to-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pinout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}