// CONTENT AREA
$content-area-width: 1200px;

// TYPOGRAFY

//fonts
$proxima-light: Helvetica, Arial, Sans-serif;

//fonts styles
$def-font: $proxima-light;
$def-font-size: 16px;
$def-line-height: 1.1em;

//COLORS

$def-color: #000;
$def-second-color: #4d4d4d;

//BREAKPOINT

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;