// 0. CONTENT AREA
$content-area-width: 1230px;

// 1. TYPOGRAFY

//FONTS
$proxima-light: Helvetica, Arial, Sans-serif;
$lucida-grande-bold: 'LucidaGrandeBold', Helvetica, Arial, Sans-serif;
$lucida-grande: 'LucidaGrande', Helvetica, Arial, Sans-serif;
$lucida-sans-bold: 'lucidaSansBold', Helvetica, Arial, Sans-serif;
$lucida-sans: 'lucidaSans', Helvetica, Arial, Sans-serif;
$lucida-sans-demi-bold: 'lucidaSansDemibold', Helvetica, Arial, Sans-serif;
$lucida-sans-italic: 'lucidaSansItalic', Helvetica, Arial, Sans-serif;

//FONTS STYLES
$def-font: $lucida-sans;
$def-font-size: 14px;
$def-line-height: 1.1em;

//COLORS
$blue_1: #1a0dab;
$blue: #0053a0;
$light-blue: #0094f2;
$gray: #383838;
$gray-light: #d3d3d3;
$basalt-gray: #565656;
$dark-gray: #262626;
$dark-blue-black: #4b4b4b;
$black-brown: #2a2a2a;
$dark-brown: #242424;
$white: #fff;

$link-color: $blue;
$def-color: $dark-gray;
$def-second-color: #4d4d4d;

// 2. BREAKPOINT
$breakpoint-mobile: 320px;
$breakpoint-mobile-large: 568px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1430px;